.nftshop {
    .nft {
        padding: 100px 0;
        margin-top: 92px;
        background-image: url('../../images/nftshop/nft-bg.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: auto;
        background-color: transparent;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border-top: 1px solid rgba(234,235,240,.1);
            top: 0;
            left: calc(50% - 860px);
            width: 1720px;
            height: 1px;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__content {
            max-width: 400px;
            width: 100%;
            margin-right: 350px;
        }

        &__images {
            position: relative;
            z-index: 1;
            flex-grow: 1;

            .images {
                position: relative;
                z-index: 11;
            }

            .images.images-pos {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                transition: all ease-in-out .4s;
            }
        }

        &__images.animated {
            .images.images-pos {
                transform: translate(215px, 55px);
            }
        }

        .btn-groups {
            .link-download {
                color: var(--cs-text);
            }
        }
    }

    .section {
        &__title {
            margin-top: 0;
            margin-bottom: 70px;
            text-align: left;
            color: var(--cs-text);
        }
        &__subtitle {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--cs-text);
            margin-top: 0;
            margin-bottom: 22px;
            text-align: left;
        }
    }

    .coin {
        padding-top: 120px;
        padding-bottom: 0;
        background-image: url('../../images/nftshop/coin/coin-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__title {
            font-weight: 500;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--cs-text);
            margin-top: 0;
            margin-bottom: 40px;
        }
        &__text {
            max-width: 620px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 70px;
            font-weight: 300;
            font-size: 14px;
            line-height: 170%;
            text-align: center;
            color: var(--cs-white);
        }

        &__container {
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .coin__device {
                position: relative;
    
                .img-pos {
                    position: absolute;
                    transition: all ease-in-out .4s;
                }
    
                .img-label {
                    position: absolute;
                    top: 164px;
                    left: 190px;
                    transform: scale(.8);
                    opacity: 0;
                }
                .img-arrow {
                    bottom: 240px;
                    transform: translateX(-250px);
                    z-index: -1;
                }
            }

            .coin__coins {
                position: relative;
                max-width: 365px;
                width: 100%;
                height: 472px;

                .img-pos {
                    position: absolute;
                    opacity: 0;
                    transition: all ease-in-out .4s;
                }

                .img-sm {
                    position: relative;
                    left: 112px;
                }

                .img-md {
                    left: 85px;
                    top: -25px;
                    transform: scale(.5);
                    transition: all ease-in-out .6s;
                }
                .img-lg,
                .img-tr {
                    left: 13px;
                    top: -100px;
                    transform: scale(.2);
                }
                .img-lg {
                    z-index: 1;
                    transition: all ease-in-out .8s;
                }
                .img-tr {
                    transition: all ease-in-out 1.2s;
                }
            }
        }

        &__container.animated {
            .coin__device {
                .img-label {
                    transform: translate(65px, 65px) scale(1);
                    opacity: 1;
                }
                .img-arrow {
                    transform: translateX(30px);
                    z-index: 1;
                }
            }
            .coin__coins {
                .image {
                    opacity: 1;
                    transform: scale(1);
                }
                .img-md {
                    left: 10px;
                    top: 76px;
                }
                .img-lg {
                    left: 0;
                    top: 220px;
                }
                .img-tr {
                    left: 105px;
                    top: 135px;
                }
            }
        }
    }
}