.nftshop {
    .nft {
        padding: 100px 0;
        margin-top: 92px;
        background-image: url('../../images/nftshop/nft-bg.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: auto;
        background-color: transparent;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border-top: 1px solid rgba(234,235,240,.1);
            top: 0;
            left: calc(50% - 860px);
            width: 1720px;
            height: 1px;
        }

        &__container {
            @include flex-all-sb;
        }

        &__content {
            max-width: 400px;
            width: 100%;
            margin-right: 350px;
        }

        &__images {
            position: relative;
            z-index: 1;
            flex-grow: 1;

            .images {
                position: relative;
                z-index: 11;
            }

            .images.images-pos {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                transition: all ease-in-out .4s;
            }
        }

        &__images.animated {
            .images.images-pos {
                transform: translate(215px, 55px);
            }
        }

        .btn-groups {
            .link-download {
                color: var(--cs-text);
            }
        }
    }

    .section {
        &__title {
            margin-top: 0;
            margin-bottom: 70px;
            text-align: left;
            color: var(--cs-text);
        }
        &__subtitle {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--cs-text);
            margin-top: 0;
            margin-bottom: 22px;
            text-align: left;
        }
    }

    .coin {
        padding-top: 120px;
        padding-bottom: 0;
        background-image: url('../../images/nftshop/coin/coin-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__title {
            font-weight: 500;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--cs-text);
            margin-top: 0;
            margin-bottom: 40px;
        }
        &__text {
            max-width: 620px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 70px;
            font-weight: 300;
            font-size: 14px;
            line-height: 170%;
            text-align: center;
            color: var(--cs-white);
        }

        &__container {
            max-width: 1100px;
            margin: 0 auto;
            @include flex-all-sb;

            .coin__device {
                position: relative;
    
                .img-pos {
                    position: absolute;
                    transition: all ease-in-out .4s;
                }
    
                .img-label {
                    position: absolute;
                    top: 164px;
                    left: 190px;
                    transform: scale(.8);
                    opacity: 0;
                }
                .img-arrow {
                    bottom: 240px;
                    transform: translateX(-250px);
                    z-index: -1;
                }
            }

            .coin__coins {
                position: relative;
                max-width: 365px;
                width: 100%;
                height: 472px;

                .img-pos {
                    position: absolute;
                    opacity: 0;
                    transition: all ease-in-out .4s;
                }

                .img-sm {
                    position: relative;
                    left: 112px;
                }

                .img-md {
                    left: 85px;
                    top: -25px;
                    transform: scale(.5);
                    transition: all ease-in-out .6s;
                }
                .img-lg,
                .img-tr {
                    left: 13px;
                    top: -100px;
                    transform: scale(.2);
                }
                .img-lg {
                    z-index: 1;
                    transition: all ease-in-out .8s;
                }
                .img-tr {
                    transition: all ease-in-out 1.2s;
                }
            }
        }

        &__container.animated {
            .coin__device {
                .img-label {
                    transform: translate(65px, 65px) scale(1);
                    opacity: 1;
                }
                .img-arrow {
                    transform: translateX(30px);
                    z-index: 1;
                }
            }
            .coin__coins {
                .image {
                    opacity: 1;
                    transform: scale(1);
                }
                .img-md {
                    left: 10px;
                    top: 76px;
                }
                .img-lg {
                    left: 0;
                    top: 220px;
                }
                .img-tr {
                    left: 105px;
                    top: 135px;
                }
            }
        }
    }
    .how-to-buy {
        padding-top: 120px;
        padding-bottom: 0;
        background: linear-gradient(274.23deg, #FFED52 -26.25%, #FFB23F -0.82%, #FF5D39 56.57%);
        position: relative;

        &__title {
            font-weight: 500;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--cs-text);
            margin-top: 0;
            margin-bottom: 40px;
        }

        &__steps {
            @include flex-all-sb;

            .step {
                @include flex-v-center;
                flex-direction: column;
                background: rgba(234, 235, 240, 0.05);
                backdrop-filter: blur(60px);
                border-radius: 20px;
                padding: 25px 5px;
                position: relative;
                max-width: 282px;
                width: 100%;

                &__number {
                    @include flex-all-center;
                    background: rgba(234, 235, 240, 0.1);
                    width: 26px;
                    height: 26px;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 100%;
                    text-align: center;
                    color: var(--cs-white);
                    border-radius: 50%;
                    position: absolute;
                    top: -13px;
                }

                &__descript {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 170%;
                    text-align: center;
                    color: var(--cs-white);
                }
            }
            .step:not(:last-child)::before {
                content: "";
                position: absolute;
                border-bottom: 2px dashed #EAEBF0;
                width: 100px;
                height: 1px;
                top: calc(50% - 1px);
                right: -100px;
            }
        }

        &__view {
            @include flex-all-sb;
            gap: 10px;
            position: relative;
            bottom: -70px;

            .device {
                position: relative;

                .img-pos {
                    position: absolute;
                    left: 2px;
                    bottom: 8px;
                }
            }
        }

        &__container.animated {
            .how-to-buy__view {
                .device {
                    .preloader--sm {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .upgrade {
        padding-top: 250px;
        padding-bottom: 130px;

        &__title {
            font-weight: 500;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--cs-text);
            margin-top: 0;
            margin-bottom: 0;
        }

        &__text {
            font-weight: 300;
            font-size: 14px;
            line-height: 170%;
            text-align: center;
            color: var(--cs-white);
            max-width: 620px;
            margin-top: 40px;
            margin-bottom: 87px;
            margin-left: auto;
            margin-right: auto;
        }

        &__images {
            position: relative;
            left: 100px;
            padding-bottom: 120px;
            border-bottom: 1px solid #222637;
        }
    }

    .categories {
        padding-top: 0;
        padding-bottom: 160px;

        &__title {
            font-weight: 500;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--cs-text);
            max-width: 730px;
            margin-top: 0;
            margin-bottom: 70px;
            margin-left: auto;
            margin-right: auto;
        }

        &__container {
            @include flex-all-sb;
            gap: 20px;
        }

        &__item {
            @include flex-v-center;
            flex-direction: column;

            &-img {
                background: #161925;
                border: 1px solid rgba(234, 235, 240, 0.1);
                border-radius: 50%;
                width: 334px;
                height: 334px;
                @include flex-all-center;

                .image {
                    transition: all ease-in-out .6s;
                    transform: scale(0);
                }
            }

            &-name {
                font-weight: 500;
                font-size: 20px;
                line-height: 125%;
                text-align: center;
                letter-spacing: -0.05em;
                color: var(--cs-text);
                margin-top: 20px;
            }
        }

        &__container.animated {
            .categories__item {
                &-img {
                    .image {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}