.roadmap {
    padding-top: 370px;
    padding-bottom: 70px;
    background-image: url('../../images/roadmap/roadmap-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 92px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        border-top: 1px solid rgba(234,235,240, .1);
        top: 0;
        left: calc(50% - 860px);
        width: 1720px;
        height: 1px;
    }

    .section__title {
        text-align: center;
        margin-bottom: 40px;

        .subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;
            letter-spacing: -0.05em;
            margin-bottom: 22px;
        }
    }

    .anchors {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        position: relative;
        z-index: 11;

        &__link {
            background: rgba(234, 235, 240, 0.03);
            backdrop-filter: blur(60px);
            border-radius: 30px;
            position: relative;
            padding-top: 40px;
            padding-bottom: 64px;
            padding-left: 30px;
            padding-right: 30px;
            @include flex-v-center;
            flex-direction: column;
            max-width: 264px;
            transition: all ease-in-out .4s;

            .icon-circle {
                width: 127px;
                height: 127px;
                @include flex-all-center;
                background-color: rgba(234, 235, 240, 0.05);
                border-radius: 50%;
                margin-bottom: 20px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .icon-circle.demo {
                background-image: url('../../images/icon/demo.svg');
            }
            .icon-circle.types {
                background-image: url('../../images/icon/types.svg');
            }
            .icon-circle.shop {
                background-image: url('../../images/icon/shop.svg');
            }
            .icon-circle.referral {
                background-image: url('../../images/icon/referral.svg');
            }
            .icon-circle.events {
                background-image: url('../../images/icon/events.svg');
            }

            .link-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 125%;
                text-align: center;
                letter-spacing: -0.05em;
                color: var(--cs-white);
            }

            .icon.arrow {
                position: absolute;
                right: 20px;
                bottom: 20px;
                width: 16px;
                height: 16px;
                stroke: rgba(234, 235, 240, 0.3);
                transition: all ease-in-out .4s;
            }

            &:hover {
                background-color: var(--cs-main);

                .icon-circle {
                    background-color: var(--cs-white);
                }

                .icon-circle.demo {
                    background-image: url('../../images/icon/demo-gr.svg');
                }
                .icon-circle.types {
                    background-image: url('../../images/icon/types-gr.svg');
                }
                .icon-circle.shop {
                    background-image: url('../../images/icon/shop-gr.svg');
                }
                .icon-circle.referral {
                    background-image: url('../../images/icon/referral-gr.svg');
                }
                .icon-circle.events {
                    background-image: url('../../images/icon/events-gr.svg');
                }

                .icon.arrow {
                    stroke: var(--cs-text);
                }
            }
        }
    }
}

.anchor {
    background-color: #F6F8FF;

    &__icon {
        width: 50px;
        height: 50px;
        @include flex-all-center;
        background-color: var(--cs-text-dark);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &__icon.border-r {
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            border-bottom: 1px dashed rgba(28, 32, 45, 0.3);
            width: 916px;
            left: 70px;
        }
    }

    &__icon.border-l {
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            border-bottom: 1px dashed rgba(28, 32, 45, 0.3);
            width: 916px;
            right: 70px;
        }
    }

    .section__title {
        margin-top: 30px;
        text-align: center;
        color: var(--cs-text-dark);

        .subtitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.05em;
            margin-top: 10px;
        }
    }

    &__content {
        text-align: center;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        letter-spacing: -0.05em;
        color: var(--cs-text-dark);
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 170%;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .btn-groups {
        @include flex-v-center;
        gap: 40px;

        .sign-up {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            letter-spacing: -0.03em;
            color: var(--cs-text);
            border-radius: 30px;
            width: 100%;
            padding: 11px;
            position: relative;
            z-index: 11;
            cursor: pointer;
            transition: all ease-in-out 0.4s;
            border: 1px solid transparent;
            background-color: var(--cs-main);
            max-width: 200px;

            &:hover {
                border: 1px solid var(--cs-main);
                background-color: transparent;
                color: var(--cs-main);
            }
        }

        .link-download {
            @include link-download;
            color: var(--cs-text-dark);
            position: relative;
            z-index: 11;
        }
    }
}

.anchor.demo {
    .anchor__icon {
        background-image: url('../../images/icon/demo-white.svg');
    }

    .section__title {
        margin-bottom: 54px;
    }
}

.anchor.types {
    .anchor__icon {
        background-image: url('../../images/icon/types-white.svg');
    }

    .section__title {
        margin-bottom: 80px;
    }
}

.anchor.shop {
    .anchor__icon {
        background-image: url('../../images/icon/shop-white.svg');
    }

    .section__title {
        margin-bottom: 80px;
    }
}

.anchor.referral {
    .anchor__icon {
        background-image: url('../../images/icon/referral-white.svg');
    }

    .section__title {
        margin-bottom: 80px;
    }
}

.demo {
    &__container {
        @include flex-all-sb;
    }

    &__images {
        padding-right: 130px;
        max-width: 690px;
        width: 100%;
        text-align: right;
        position: relative;
        z-index: 2;

        .main-image-mob {
            display: none;
        }

        .main-image {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url('../../images/roadmap/demo/demo-circle.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 205px;
            height: 183px;
            top: 85px;
            right: 0;
            transition: all ease-in-out .4s;
            opacity: 0;
            z-index: 2;
        }

        &-box {
            position: absolute;
            top: 40px;
            z-index: -1;
            right: 390px;
            transform: translateX(220px);
            transition: all ease-in-out .4s;
            z-index: 1;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: transparent;
                z-index: 2;
                left: 0;
                top: 0;
                border-radius: 20px;
                transition: all ease-in-out .8s;

            }
        }

        .small-image {
            position: absolute;
            left: 0;
            z-index: -1;
            transform: translate(320px, 40px);
            transition: all ease-in-out 1.2s;
        }
    }

    &__container.animated {
        .demo__images {
            &::after {
                opacity: 1;
            }

            .demo__images-box {
                transform: translateX(0px);

                &::after {
                    background-color: rgba(246,248,255, .7);
                }
            }

            .small-image {
                opacity: .1;
                transform: translate(0px, 0px);
            }
        }
    }

    &__content {
        max-width: 625px;
    }

    &__list {
        margin-bottom: 90px;
    }

    &__list-item:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(28,32,45, .1);
    }
}

.types {
    &__container {
        padding-top: 40px;
        margin-top: 20px;
        border-top: 1px solid rgba(28, 32, 45, 0.1);
        @include flex-all-sb;
        gap: 20px;

        .item {
            background: #F6F8FF;
            border: 1px solid rgba(28, 32, 45, 0.3);
            border-radius: 30px;
            max-width: 335px;
            @include flex-v-center;
            flex-direction: column;
            padding: 6px 6px 20px 6px;
            transition: all ease-in-out .4s;

            &__image {
                border-radius: 30px;
            }
            
            .anchor__title {
                margin-top: 20px;
            }
        }

        .item:first-child {
            z-index: 3;
        }

        .item:nth-child(2) {
            z-index: 2;
            animation-delay: 200s;
            transform: translateX(-355px);
        }

        .item:nth-child(3) {
            z-index: 1;
            animation-delay: 500s;
            transform: translateX(-710px);
        }

        .item:last-child {
            animation-delay: 800s;
            transform: translateX(-1065px);
        }
    }

    &__container.animated {
        .item:nth-child(2),
        .item:nth-child(3),
        .item:last-child {
            transform: translateX(0px);
        }
    }
}

.types-2 {
    .types__container {
        display: block;

        .items {
            max-width: 1050px;
            margin: 0 auto;
            @include flex-all-sb;
            gap: 20px;

            .item {
                border: none;
                padding: 0;
            }
        }
    }
}

.types-3 {
    .types__container {
        display: block;
        text-align: center;
        
        .types__images {
            margin: 0 auto;
        }   
    }
}

.demo.types.types-4 {
    .demo__images {
        padding-right: 0;

        &::after {
            content: none;
        }
    }
}

.types-2.shop {
    .types__container {

        .items {
            max-width: 780px;
        }

        .item {
            transition: all ease-in-out .4s;
        }

        .item:first-child {
            z-index: 2;
        }

        .item:nth-child(2) {
            z-index: 1;
            animation-delay: 200s;
            transform: translateX(-265px);
        }

        .item:last-child {
            animation-delay: 500s;
            transform: translateX(-535px);
        }
    }

    .types__container.animated {
        .item:nth-child(2),
        .item:last-child {
            transform: translateX(0px);
        }
    }
}


.shop {
    &__container {
        display: flex;
        gap: 20px;
        padding-top: 40px;
        margin-top: 20px;
        border-top: 1px solid rgba(234, 235, 240, .1);

        .item {
            @include flex-v-center;
            flex-direction: column;

            .anchor__title {
                margin-top: 20px;
            }
        }
    }
}

.shop.types-4 {
    .anchor__title {
        display: block;
        margin-bottom: 40px;
    }
    .anchor__text:not(:last-child) {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(28, 32, 45, .1);
    }
}

.shop.shop--black {
    background-color: #141721;

    .anchor__icon {
        filter: invert(1);
    }

    .section__title {
        color: var(--cs-text);
    }

    .anchor__title,
    .anchor__text {
        color: var(--cs-text);
    }
}

.referral {
    &__image {
        border: 1px solid rgba(28, 32, 45, 0.3);
        border-radius: 30px;
        padding: 6px;
        transition: all ease-in-out .4s;
        transform: scale(0);

        .image {
            border-radius: 30px;
        }
    }
    &__container.animated {
        .referral__image {
            transform: scale(1);
        }
    }
}