@mixin btn-main {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--cs-text);
    border-radius: 30px;
    padding: 6px 16px;
    background: rgba(234, 235, 240, 0.1);
    transition: all ease-in-out .4s;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 30px; 
        padding: 1px; 
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 14.71%, rgba(255, 255, 255, 0) 48.53%);
        -webkit-mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude; 
        transition: all ease-in-out .4s;
    }
    
    &:hover {
        color: var(--cs-main);

        &::before {
            background: linear-gradient(135deg, rgb(252, 80, 42) 14.71%, rgba(255, 255, 255, 0) 48.53%);
        }
    }
}

@mixin link-download {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: var(--cs-text);
    position: relative;
    padding-left: 23px;
    transition: all ease-in-out .4s;

    &::before {
        content: "";
        position: absolute;
        background-image: url('../../images/icon/google-play.svg');
        width: 16px;
        height: 17px;
        left: 0;
        top: calc(50% - 9px);
        transition: all ease-in-out .4s;
    }

    &:hover {
        color: var(--cs-main);

        &::before {
            transform: scale(1.2);
        }
    }
}

@mixin link-more {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.03em;
    color: var(--cs-text-dark);
    @include flex-v-center;
    transition: all ease-in-out .4s;

    .circle-arrow {
        width: 35px;
        height: 35px;
        background-color: var(--cs-main);
        @include flex-all-center;
        border-radius: 50%;
        margin-left: 5px;
        position: relative;
        transition: all ease-in-out .4s;

        .icon {
            width: 12px;
            height: 12px;
            fill: var(--cs-text);
        }
    }

    &:hover {
        .circle-arrow {
            transform: translateX(10px);
        }
    }
}

@mixin btn-animate {
    @include flex-all-center;
    min-width: 200px;
    padding: 11px 16px;
    z-index: 1;
    
    .circle-arrow {
        width: 35px;
        height: 35px;
        background-color: var(--cs-main);
        @include flex-all-center;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        transform: translateX(-78px);
        transition: all ease-in-out .4s;

        .icon {
            width: 12px;
            height: 12px;
            fill: var(--cs-text);
        }
    }

    &:hover {
        .circle-arrow {
            transform: translateX(78px);
        }
    }
}

@mixin title {
    margin-top: 0;
    margin-bottom: 0;
}

@mixin socials {
    .list {
        gap: 10px;

        &__link {
            background: rgba(234, 235, 240, .05);
            border-radius: 4px;
            @include flex-all-center;
            width: 35px;
            height: 35px;
            border-radius: 8px;

            .icon {
                width: 15px;
                height: 15px;
                fill: var(--cs-text);
                transition: all ease-in-out .4s;
            }

            &:hover {
                .icon {
                    animation: swing .6s ease-in-out;
                    animation-iteration-count: 1;
                }
                .icon.telegram {
                    fill: #0088CC;
                }
                // .icon.youtube {
                //     fill: #FF0000;
                // }
                .icon.twitter {
                    fill: #1DA1F2;
                }
                .icon.instagram {
                    fill: #DD2A7B;
                }
                // .icon.facebook {
                //     fill: #3b5998;
                // }
            }
        }
    }
}

@mixin large-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: var(--cs-text);
}

@mixin small-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: var(--cs-text-dark);
}

.section {
  padding: 145px 0;

  &__title {
    @include large-title;
  }
}