<div class="activities">
    <section class="section activities__bg">
        <div class="wrapper">
            <h2 class="section__subtitle">
                What can you do to make money ?
            </h2>
            <h1 class="section__title">
                Activity
            </h1>
        </div>
    </section>
    <section class="section make">
        <div class="wrapper">
            <div class="make__try-wrap">
                <h3 class="make__title">
                    You can just try
                </h3>
                <a href="#" target="_blank" class="link link-download">
					Download  App
				</a>
            </div>
            <div class="make__items">
                <div class="item">
                    <div class="item__images">
                        <img src="../images/activities/walking-1.png" alt="Walking" class="image image-main">
                        <img src="../images/activities/walking-1-1.png" alt="Walking" class="image image-hidden">
                    </div>
                    <div class="item__content">
                        <h4 class="item__title">
                            01 / Walking
                        </h4>
                        <p class="item__text">
                            Walking is the easiest way to earn, this activity synchronizes with your
                            google\icloud account. And starts working in the background as soon 
                            as you sign up.
                        </p>
                        <div class="item__points">
                            Positive points: 
                        </div>
                        <p class="item__text">
                            In quis amet, pharetra nulla nascetur erat. Praesent pulvinar risus vestibulum 
                            aliquam. Mi velit odio pharetra, sed pulvinar dolor. Amet arcu rhoncus, 
                            scelerisque dui ultrices condimentum arcu. 
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__images">
                        <img src="../images/activities/running-1.png" alt="Running" class="image image-main">
                        <img src="../images/activities/running-1-1.png" alt="Running" class="image image-hidden">
                    </div>
                    <div class="item__content">
                        <h4 class="item__title">
                            02 / Running
                        </h4>
                        <p class="item__text">
                            Running is a more advanced way to make money. Since your body is more active 
                            when you run, you should earn more. The activity of Running should be started 
                            and stopped. You can also synchronize your activity with Google Maps. The 
                            distance, time, and the number of calories you burn are recorded. The workout 
                            statistics are generated and saved.
                        </p>
                        <div class="item__points">
                            Positive points: 
                        </div>
                        <p class="item__text">
                            In quis amet, pharetra nulla nascetur erat. Praesent pulvinar risus vestibulum 
                            aliquam. Mi velit odio pharetra, sed pulvinar dolor. Amet arcu rhoncus, 
                            scelerisque dui ultrices condimentum arcu. Feugiat facilisi egestas egestas 
                            justo vestibulum.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__images">
                        <img src="../images/activities/cycling-1.png" alt="Cycling" class="image image-main">
                        <img src="../images/activities/cycling-1-1.png" alt="Cycling" class="image image-hidden">
                    </div>
                    <div class="item__content">
                        <h4 class="item__title">
                            03 / Cycling
                        </h4>
                        <p class="item__text">
                            Riding a bicycle gives you an even greater bonus than running. As with Running, 
                            your activity is synchronized with Google Maps. The distance, time, and calories 
                            you burn are recorded. Training statistics are generated and stored in the 
                            history. But you can buy exclusive products for this activity.
                        </p>
                        <div class="item__points">
                            Positive points: 
                        </div>
                        <p class="item__text">
                            In quis amet, pharetra nulla nascetur erat. Praesent pulvinar risus vestibulum 
                            aliquam. Mi velit odio pharetra, sed pulvinar dolor. Amet arcu rhoncus, 
                            scelerisque dui ultrices condimentum arcu. 
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__images">
                        <img src="../images/activities/passive-1.png" alt="Passive" class="image image-main">
                        <img src="../images/activities/passive-1-1.png" alt="Passive" class="image image-hidden">
                    </div>
                    <div class="item__content">
                        <h4 class="item__title">
                            04 / Passive
                        </h4>
                        <p class="item__text">
                            A specific type of activity Passive. For those who lead a passive lifestyle or do 
                            not have time to exercise. In order to earn money you need to periodically enter 
                            the application and perform simple tasks.
                        </p>
                        <div class="item__points">
                            Positive points: 
                        </div>
                        <p class="item__text">
                            In quis amet, pharetra nulla nascetur erat. Praesent pulvinar risus vestibulum
                            aliquam. Mi velit odio pharetra, sed pulvinar dolor. Amet arcu rhoncus, 
                            scelerisque dui ultrices condimentum arcu. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section statistic anchor">
        <div class="wrapper">
            <div class="statistic__container">
                <div class="statistic__content">
                    <h2 class="section__title">
                        Statistic
                    </h2>
                    <p class="section__text section__text--mb">
                        All your activity data for the period
                    </p>
                    <p class="section__text">
                        All of your training achievements are saved in the statistics. 
                    </p>
                    <div class="statistic__labels">
                        <span class="label">Distance</span>
                        <span class="label">Active time</span>
                        <span class="label">Calorie burn</span>
                        <span class="label">Distance</span>
                    </div>
                    <p class="section__text">
                        This way you can see what results you have achieved, 
                        how much weight you have lost and view your training history
                    </p>
                    <div class="btn-groups">
                        <a href="#" class="sign-up">
                            Sign up
                        </a>
                        <a href="#" target="_blank" class="link link-download">
                            Demo version App
                        </a>
                    </div>
                </div>
                <div class="statistic__images">
                    <div class="images-group">
                        <img class="img" src="../images/activities/statistics/statistic-main.png" alt="Statistic">
                        <img class="img-steps img-absolute" src="../images/activities/statistics/statistics-steps.png" alt="Statistic">
                        <img class="img-distance img-absolute" src="../images/activities/statistics/stats-distance.png" alt="Statistic">
                        <img class="img-calorie img-absolute" src="../images/activities/statistics/stats-calorie.png" alt="Statistic">
                        <img class="img-time img-absolute" src="../images/activities/statistics/stats-time.png" alt="Statistic">
                        <img class="img-coins img-absolute" src="../images/activities/statistics/stats-coins.png" alt="Statistic">
                        <img class="img-level img-absolute" src="../images/activities/statistics/statistics-level.png" alt="Statistic">
                        <img class="img-profile img-absolute" src="../images/activities/statistics/stats-profile.png" alt="Statistic">
                        <img class="img-arrow img-absolute" src="../images/activities/statistics/stats-arrow.png" alt="Statistic">
                        <div class="info-block img-absolute">
                            <img class="img-info" src="../images/activities/statistics/circle-info.svg" alt="Statistic">
                            <span class="info-text">You want to raise the level?</span>
                        </div>
                    </div>
                    <img class="image" src="../images/activities/statistics/statistics.png" alt="Statistic">
                </div>
            </div>
            <div class="end-elem"></div>
        </div>
    </section>
</div>