<div class="large-bg">
    <section class="section sign-up">
        <div class="banner">
            <img src="images/icon/scroll-banner-2.svg" alt="calorie" class="banner__image">
            <img src="images/icon/scroll-banner-2.svg" alt="calorie" class="banner__image">
        </div>
        <div class="wrapper">
            <span class="section__subtitle" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" data-aos-delay="500">
                you have nothing to lose
            </span>
            <h2 class="section__title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                Start right now
            </h2>
            <div class="sign-up__container">
                <form action="#" class="form">
                    <!-- <label class="form__label form__label--name">
                        <input type="text" class="form__input" placeholder="Your name" required>
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#user"></use>
                        </svg>
                    </label> -->
                    <label class="form__label form__label--email">
                        <input type="email" class="form__input" placeholder="E-mail" required>
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#mail"></use>
                        </svg>
                    </label>
                    <!-- <label class="form__label form__label--tel">
                        <input type="tel" class="form__input" placeholder="Phone number" required>
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#phone"></use>
                        </svg>
                    </label> -->
                    <label class="form__label form__label--password">
                        <input type="password" class="form__input" placeholder="Password" required>
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#lock"></use>
                        </svg>
                    </label>
                    <label class="custom-checkbox">
                      <input type="checkbox" class="custom-checkbox__field" required>
                      <span class="custom-checkbox__content">I agree to the privacy terms</span>
                    </label>
                    <button type="submit" class="form__btn sign-up__btn">
                        Sign up
                    </button>
                    <button type="button" class="form__btn sign-google__btn">
                        <img loading="lazy" src="images/icon/google.svg" class="image" width="" height="" alt="google">
                        <span class="text">Ввойти с Google</span>
                    </button>
                </form>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__container">
                <a href="/" class="logo">
                    <img src="../images/icon/logo.svg" alt="logo: calorie - burn for life">
                </a>
                <div class="socials">
                    <ul class="list-reset list">
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon twitter">
                                    <use xlink:href="images/sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon telegram">
                                    <use xlink:href="images/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon instagram">
                                    <use xlink:href="images/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <strong class="copyright">
                    © All rights reserved. 2022. Caloria company
                </strong>
                <butto type="button" class="scroll-top">
                    <svg class="icon" width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.3">
                        <circle cx="17.5" cy="17.5" r="17" transform="rotate(-90 17.5 17.5)" stroke="currentColor"/>
                        <path d="M17.6464 10.6464C17.8417 10.4512 18.1583 10.4512 18.3536 10.6464L21.5355 13.8284C21.7308 14.0237 21.7308 14.3403 21.5355 14.5355C21.3403 14.7308 21.0237 14.7308 20.8284 14.5355L18 11.7071L15.1716 14.5355C14.9763 14.7308 14.6597 14.7308 14.4645 14.5355C14.2692 14.3403 14.2692 14.0237 14.4645 13.8284L17.6464 10.6464ZM17.5 23L17.5 11L18.5 11L18.5 23L17.5 23Z" fill="currentColor"/>
                        </g>
                    </svg>                    
                </butto>
            </div>
        </div>
    </footer>
</div>