<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <a href="/" class="logo">
				<img src="../images/icon/logo.svg" alt="logo: calorie - burn for life">
			</a>
            <div class="socials">
                <ul class="list-reset list">
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon twitter">
                                <use xlink:href="images/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon telegram">
                                <use xlink:href="images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon instagram">
                                <use xlink:href="images/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <strong class="copyright">
                © All rights reserved. 2022. Caloria company
            </strong>
            <butto type="button" class="scroll-top">
                <svg class="icon" width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.3">
                    <circle cx="17.5" cy="17.5" r="17" transform="rotate(-90 17.5 17.5)" stroke="currentColor"/>
                    <path d="M17.6464 10.6464C17.8417 10.4512 18.1583 10.4512 18.3536 10.6464L21.5355 13.8284C21.7308 14.0237 21.7308 14.3403 21.5355 14.5355C21.3403 14.7308 21.0237 14.7308 20.8284 14.5355L18 11.7071L15.1716 14.5355C14.9763 14.7308 14.6597 14.7308 14.4645 14.5355C14.2692 14.3403 14.2692 14.0237 14.4645 13.8284L17.6464 10.6464ZM17.5 23L17.5 11L18.5 11L18.5 23L17.5 23Z" fill="currentColor"/>
                    </g>
                </svg>                    
            </butto>
        </div>
    </div>
</footer>