<header class="header">
	<div class="wrapper">
		<div class="header__container">
			<a href="/" class="logo">
				<img src="../images/icon/logo.svg" alt="logo: calorie - burn for life">
			</a>
			<div class="header__group">
				<a href="#" target="_blank" class="link link-download">
					Download  App
				</a>
				<a href="#" class="link btn btn-main">
					Sign in
				</a>
				<button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
					<img class="img" src="../images/icon/burger.svg" alt="burger icon">
				</button>   
			</div>
		</div>
	</div>
</header>