<header class="header">
	<div class="wrapper">
		<div class="header__container">
			<a href="/" class="logo">
				<img src="../images/icon/logo.svg" alt="logo: calorie - burn for life">
			</a>
			<div class="header__group">
				<a href="#" target="_blank" class="link link-download">
					Download  App
				</a>
				<a href="#" class="link btn btn-main">
					Sign in
				</a>
				<button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
					<img class="img" src="../images/icon/burger.svg" alt="burger icon">
				</button>   
			</div>
			<div class="mobile-menu" data-menu>
				<div class="mobile-menu__container">
					<div class="wrapper">
						<div class="mobile-menu__wrapper">
							<div class="mobile-menu__top">
								<a href="/" class="logo">
									<img src="../images/icon/logo.svg" alt="logo: calorie - burn for life">
								</a>
							</div>
							<nav class="nav">
								<ul class="list-reset">
									<li>
										<a href="/roadmap.html">
											<span class="link-text">
												Roadmap
											</span>
											<svg class="icon arrow">
												<use xlink:href="images/sprite.svg#link-arrow"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="/activities.html">
											<span class="link-text">
												Activity
											</span>
											<svg class="icon arrow">
												<use xlink:href="images/sprite.svg#link-arrow"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="/nftshop.html">
											<span class="link-text">
												NFT Shop
											</span>
											<svg class="icon arrow">
												<use xlink:href="images/sprite.svg#link-arrow"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="link-text">
												Bonuses
											</span>
											<svg class="icon arrow">
												<use xlink:href="images/sprite.svg#link-arrow"></use>
											</svg>
										</a>
									</li>
								</ul>
							</nav>
							<div class="mobile-menu__bottom">
								<a href="#" target="_blank" class="link link-download">
									Download  App
								</a>
								<div class="socials">
									<ul class="list-reset list">
										<li class="list__item">
											<a href="#" class="list__link" target="_blank">
												<svg class="icon twitter">
													<use xlink:href="images/sprite.svg#twitter"></use>
												</svg>
											</a>
										</li>
										<li class="list__item">
											<a href="#" class="list__link" target="_blank">
												<svg class="icon telegram">
													<use xlink:href="images/sprite.svg#linkedin"></use>
												</svg>
											</a>
										</li>
										<li class="list__item">
											<a href="#" class="list__link" target="_blank">
												<svg class="icon instagram">
													<use xlink:href="images/sprite.svg#instagram"></use>
												</svg>
											</a>
										</li>
									</ul>
								</div>
								<a href="#" class="link btn btn-main">
									Sign in
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>