<div class="main-screen">
    <div class="wrapper">
        <div class="main-screen__container">
            <video muted class="main-screen__video">
                <source src="main.mp4" type="video/mp4">
                <source src="main.webm" type="video/webm">
            </video>
            <div class="btns-group">
				<a href="#" class="link btn btn-main btn-animate">
                    <span class="circle-arrow">
                        <svg class="icon">
                          <use xlink:href="images/sprite.svg#btn-arrow"></use>
                        </svg>
                    </span>
					Try to play
				</a>
                <a href="#" target="_blank" class="link link-download">
					Download  App
				</a>
            </div>
        </div>
    </div>
</div>
<section class="section large-text">
    <div class="wrapper">
        <div class="large-text__container">
            <h2 class="section__title">
                <strong>we will help you</strong><br>
                to get in excellent <span class="fire-img-shadow"><img class="fire-img" src="../images/icon/fire.svg" alt="fire icon"></span> physical shape
                and earn money <img src="../images/icon/coin.svg" alt="coin icon"> on it
            </h2>
            <p class="section__text">
                Calorie.live is an app that helps you get in great shape and get rewards for it, 
                which you can spend on exclusive products or convert into money.
            </p>
            <a href="#" class="link btn btn-main btn-animate">
                <span class="circle-arrow">
                    <svg class="icon">
                      <use xlink:href="images/sprite.svg#btn-arrow"></use>
                    </svg>
                </span>
                Try to play
            </a>
        </div>
    </div>
    <img class="stones" src="../images/icon/stones.svg" alt="stones icon">
    <img class="stones stones-mob" src="../images/icon/stone-mob.svg" alt="stones icon">
</section>
<section class="section section-steps">
    <div class="wrapper">
        <h2 class="section__title">
            A few simple steps
        </h2>
        <div class="section-steps__container">
            <div class="swiper steps-slider">
                <div class="swiper-wrapper steps">
                    <div class="swiper-slide">
                        <div class="steps__item">
                            <span class="steps__number">1</span>
                            <img src="../images/icon/step-1.svg" alt="icon: Sign in" class="steps__image">
                            <h3 class="steps__title">
                                Sign in
                            </h3>
                            <p class="steps__text">
                                Complete a simple registration process to start earning money.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="steps__item">
                            <span class="steps__number">2</span>
                            <img src="../images/icon/step-2.svg" alt="icon: Enter information about yourself" class="steps__image">
                            <h3 class="steps__title">
                                Enter information about yourself
                            </h3>
                            <p class="steps__text">
                                Fill out the form to let the app better track your progress
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="steps__item">
                            <span class="steps__number">3</span>
                            <img src="../images/icon/step-3.svg" alt="icon: Choose your wardrobe" class="steps__image">
                            <h3 class="steps__title">
                                Choose your wardrobe
                            </h3>
                            <p class="steps__text">
                                Buy our exclusive products that add bonuses to your income.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="steps__item">
                            <span class="steps__number">4</span>
                            <img src="../images/icon/step-4.svg" alt="icon: Start a movement, bring your friends" class="steps__image">
                            <h3 class="steps__title">
                                Start moving<br> and earn
                            </h3>
                            <p class="steps__text">
                                Start a movement, bring your<br> friends
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="steps-slider__controls">
                <div class="swiper-button-prev steps-slider__btns">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#btn-arrow"></use>
                    </svg>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next steps-slider__btns">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#btn-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
        <a href="#" class="link btn btn-main btn-animate">
            <span class="circle-arrow">
                <svg class="icon">
                  <use xlink:href="images/sprite.svg#btn-arrow"></use>
                </svg>
            </span>
            Try to play
        </a>
    </div>
</section>
<section class="section make slider">
    <div class="wrapper-offset">
        <div class="make__container">
            <div class="make__left">
                <a href="#" target="_blank" class="link link-more">
					More details
                    <span class="circle-arrow">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#btn-arrow"></use>
                        </svg>
                    </span>
				</a>
                <h2 class="section__title">
                    What can
                    you&nbsp;do to make
                    money ?
                </h2>
                <div class="slider__controls">
                    <div class="swiper-button-next make__btns">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#btn-arrow"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-prev make__btns">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#btn-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="slider__container">
                <div class="swiper make__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="slider__item item">
                                <img src="images/make/make-1.jpg" alt="Running" class="item__image">
                                <div class="item__info">
                                    <h3 class="item__title">
                                        Running
                                    </h3>
                                    <p class="item__text">
                                        During running, the tissues are saturated with oxygen, 
                                        which is a great help to blood circulation. Thanks to 
                                        this cardio exercise, the heart muscles gain strength 
                                        and endurance, the vascular walls are strengthened, 
                                        and their tone increases.
                                    </p>
                                </div>
                                <svg class="icon arrow">
                                    <use xlink:href="images/sprite.svg#link-arrow"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="slider__item item">
                                <img src="images/make/make-2.jpg" alt="Walking" class="item__image">
                                <div class="item__info">
                                    <h3 class="item__title">
                                        Walking
                                    </h3>
                                    <p class="item__text">
                                        Regular exercise strengthens muscles, bones, and joints, 
                                        reducing the risk of any injuries, including fractures. 
                                        Walking improves your mood, helping you cope with depression 
                                        and anxiety. Walking at a good pace develops your heart and 
                                        lungs. Proven: The more people walk, the lower the mortality 
                                        rate - at any age
                                    </p>
                                </div>
                                <svg class="icon arrow">
                                    <use xlink:href="images/sprite.svg#link-arrow"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="slider__item item">
                                <img src="images/make/make-3.jpg" alt="Cycling" class="item__image">
                                <div class="item__info">
                                    <h3 class="item__title">
                                        Cycling
                                    </h3>
                                    <p class="item__text">
                                        Cycling increases your energy expenditure - your metabolism speeds 
                                        up and your oxygen supply to organs and tissues, including your 
                                        muscles and brain improves; Increased endurance. Regular cycling 
                                        increases your general endurance and makes you more alert and stronger.
                                    </p>
                                </div>
                                <svg class="icon arrow">
                                    <use xlink:href="images/sprite.svg#link-arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="make__bottom">
                    <a href="#" target="_blank" class="link link-more">
                        More details
                        <span class="circle-arrow">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </span>
                    </a>
                    <div class="slider__controls">
                        <div class="swiper-button-next make__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-prev make__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>