<div class="main-screen">
    <div class="wrapper">
        <div class="main-screen__container">
            <video muted class="main-screen__video">
                <source src="main.mp4" type="video/mp4">
                <source src="main.webm" type="video/webm">
            </video>
            <div class="btns-group">
				<a href="#" class="link btn btn-main btn-animate">
                    <span class="circle-arrow">
                        <svg class="icon">
                          <use xlink:href="images/sprite.svg#btn-arrow"></use>
                        </svg>
                    </span>
					Try to play
				</a>
                <a href="#" target="_blank" class="link link-download">
					Download  App
				</a>
            </div>
        </div>
    </div>
</div>
<section class="section large-text">
    <div class="wrapper">
        <div class="large-text__container">
            <h2 class="section__title">
                <strong>we will help you</strong><br>
                to get in excellent <img class="fire-img" src="../images/icon/fire.svg" alt="fire icon"> physical shape
                and earn money <img src="../images/icon/coin.svg" alt="coin icon"> on it
            </h2>
            <p class="section__text">
                Calorie.live is an app that helps you get in great shape and get rewards for it, 
                which you can spend on exclusive products or convert into money.
            </p>
            <a href="#" class="link btn btn-main btn-animate">
                <span class="circle-arrow">
                    <svg class="icon">
                      <use xlink:href="images/sprite.svg#btn-arrow"></use>
                    </svg>
                </span>
                Try to play
            </a>
        </div>
    </div>
    <img class="stones" src="../images/icon/stones.svg" alt="stones icon">
    <img class="stones stones-mob" src="../images/icon/stone-mob.svg" alt="stones icon">
</section>