<div class="nftshop">
    <section class="section nft anchor">
        <div class="wrapper">
            <div class="nft__container">
                <div class="nft__content">
                    <h2 class="section__subtitle">
                        How to make money faster in the app
                    </h2>
                    <h1 class="section__title">
                        NFT SHOP
                    </h1>
                    <div class="btn-groups">
                        <a href="#" class="sign-up">
                            Sign up
                        </a>
                        <a href="#" target="_blank" class="link link-download">
                            Demo version App
                        </a>
                    </div>
                </div>
                <div class="nft__images">
                    <img src="../images/nftshop/nft-img-1.png" alt="mobile device" class="images">
                    <img src="../images/nftshop/nft-img-2.png" alt="mobile device" class="images images-pos">
                </div>
            </div>
        </div>
    </section>
    <section class="section coin">
        <div class="wrapper">
            <div class="coin__container">
                <h3 class="coin__title">
                    Calorie coin
                </h3>
                <p class="coin__text">
                    is a coin for which you can buy NFTs in the game. 
                    It can be bought on a cryptocurrency 
                    exchange or earned with the Calorie app.
                </p>
            </div>
        </div>
    </section>
</div>