<div class="activities white-paper privacy">
    <section class="section activities__bg">
        <div class="wrapper">
            <h2 class="section__subtitle">
              FOR FinMarket Development OÜ
            </h2>
            <h1 class="section__title">
              Privacy notice
            </h1>
        </div>
    </section>
    <section class="section fq">
        <div class="wrapper">
            <div class="privacy__content">
              <p>
                This Privacy Notice for Calorie products and services <strong>(“Privacy Notice”)</strong> outlines FinMarket Development OÜ <strong>(“We," "Our," "Us," or "the Company")</strong>
                practices concerning information collected from Users (also referred to as "You") who access our website at <a href="https://calorie.live/">https://calorie.live/</a> register or participate in our token sale.
                This Privacy Notice is a part of the Terms of Use, Privacy Policy, and other relevant agreements.
              </p>
              <h3>
                Introduction
              </h3>
              <div class="text-group">
                <p>
                  The FinMarket Development OÜ takes steps to protect your privacy. In our capacity as Data Controllers,
                  we have created this Privacy Notice to inform you about why we collect and how we process your Personal
                  Data. By continuing to use our website, you acknowledge that you have read, understood, and accepted the
                  information described in this Privacy Notice.<br><br>
                  By using this Privacy Notice, we wish to comply and act following our obligation to inform the Users from
                  whom we use data, as is required under the General Data Protection Regulation <strong>("GDPR”)</strong>.<br><br>
                  We will only use your Personal Data as set out in this Privacy Notice. By using our website and filling
                  out and approving the registration form on the said website for the purpose of using Calorie for buying
                  NFT gaming items <strong>(“the NFTs Sale")</strong>, you agree to use your Personal Data in accordance with this
                  Privacy Notice.<br><br>
                  If you have any questions about FinMarket Development OÜ processing of your Personal Data or you wish to
                  exercise your rights, you are always welcome to contact us:
                </p>
                <div class="block">
                  <ul>
                    <li>E-mail:  <a href="mailto:support@finmarket.dev">support@finmarket.dev</a></li>
                    <li>Address:  <a href="https://goo.gl/maps/ojkD1y9eRuXFZvUM7" target="_blank">Parnu mnt 388b, Tallinn, 11612, Estonia</a></li>
                  </ul>
                  <p>
                    The <a href="https://www.riigiteataja.ee/en/eli/523012019001/consolide" target="_blank">Personal Data Protection Act</a>
                    constitutes an integrated framework to ensure the confidentiality of
                    the information and protect the privacy of individuals in Estonia. If you are dissatisfied, you have
                    the right to lodge a complaint with the supervisory authority for data protection issues - Estonian
                    Data Protection Inspectorate. We would, however, appreciate the chance to deal with your concerns
                    before you approach the Estonian Data Protection Inspectorate, so please get in touch with us in the
                    first instance.
                  </p>
                </div>
              </div>
            </div>
            <div class="fq__container">
                <ul class="faq list-reset">
                    <li class="faq__item faq__item--active">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                              1. Personal Data we collect: types. legal basis and purposes of collecting
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                  1.1.
                                </h3>
                                <p class="faq__answer-text">
                                  Personal Data means any information relating to an identified or identifiable natural
                                  person ("data subject"); an identifiable natural person can be identified, directly or
                                  indirectly, in particular by reference to an identifier such as a name, an
                                  identification number, location data, an online identifier or to one or more factors
                                  specific to the physical, physiological, genetic, mental, economic, cultural or social
                                  identity of that natural person.
                                </p>
                                <h3 class="content-block__title">
                                  1.2.
                                </h3>
                                <p class="faq__answer-text">
                                  An outline of the Personal Data that we require, accept, collect, and process, when we
                                  collect it, how we use it, and why we use it, is listed underneath:
                                </p>
                                <table>
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>Non-personal data</th>
                                      <th>Individually identifiable data</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <span>Data types</span>
                                      </td>
                                      <td>
                                        <p>
                                          This information is un-identified and non-identifiable data about Users,
                                          which may be made available or gathered via your use of the website, even if
                                          you do not participate or register at the Platform:
                                        </p>
                                        <ul>
                                          <li>aggregated usage information; and</li>
                                          <li>
                                            technical information transmitted by your device, including specific
                                            software and hardware information (e.g., the type of browser and operating
                                            system your device uses, language preference, access time, etc.);
                                          </li>
                                          <li>information on your activity on the Site (e.g., pages viewed, online browsing, clicks, actions, etc.).</li>
                                        </ul>
                                      </td>
                                      <td>
                                        <p>
                                          This information is individually identifiable information, namely information that
                                          identifies an individual or may, with reasonable effort, identify an individual. Such information includes:
                                        </p>
                                        <ul>
                                          <li>registration information: full name; email or physical address, and other information, as further described in our registration form;</li>
                                          <li>
                                            device information: geolocation data, IP address, unique identifiers (e.g., MAC address and UUID),
                                            and other information which relates to your activity through the website;
                                          </li>
                                          <li>
                                            payment information: your name, billing address, identity number, financial information (e.g., your credit card number, bank account, etc.),
                                            and any other information required to complete your participation in the Token Sale.
                                          </li>
                                        </ul>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <span>Purpose</span>
                                      </td>
                                      <td>
                                        <p>
                                          We collect non-personal data to enhance the functionality of our website.
                                        </p>
                                      </td>
                                      <td>
                                        <p>
                                          We collect identifiable data, which is provided voluntarily by you to us,
                                          to provide our services and to comply with KYC and AML regulations in relation
                                          to the NFT Market.
                                        </p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <h3 class="content-block__title">
                                  1.3.
                                </h3>
                                <p class="faq__answer-text">
                                  The Company will process your abovementioned Personal data exclusively on the legal basis listed below:
                                </p>
                                <ol class="list-reset">
                                  <li>1.3.1. given consent to the processing;</li>
                                  <li>1.3.2. for the performance of a contract;</li>
                                  <li>1.3.3. for compliance with a legal obligation to which the Company may be or is subject(ed); and</li>
                                  <li>1.3.4. for the purposes of the legitimate interests pursued by the Company except where such interests are overridden by the interests or fundamental rights and freedoms of the User which require protection of Personal Data.</li>
                                  <li> 1.4. Please pay attention that your Personal data may be collected and processed by third-party companies to maintain KYC and AML policies.</li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                      <div class="faq__question">
                          <span></span>
                          <p class="faq__question-text">
                            2. Data subject rights
                          </p>
                      </div>
                      <div class="faq__answer">
                        <div class="content-block">
                          <h3 class="content-block__title">
                            2.1.
                          </h3>
                          <p class="faq__answer-text">
                            You may request to:
                          </p>
                          <ol class="list-reset">
                            <li>2.1.1. receive confirmation as to whether or not Personal Data concerning you is being processed, and access your stored Personal data, together with supplementary information;</li>
                            <li>2.1.2. receive a copy of Personal Data you directly volunteer to us in a structured, commonly used, and machine-readable format;</li>
                            <li>2.1.3. request rectification of your Personal Data that is in our control;</li>
                            <li>2.1.4. request erasure of your Personal Data;</li>
                            <li>2.1.5. object to the processing of Personal Data by us;</li>
                            <li>2.1.6. request to restrict the processing of your Personal Data by us;</li>
                            <li>2.1.7. lodge a complaint with a supervisory authority.</li>
                          </ol>
                          <h3 class="content-block__title">
                            2.2.
                          </h3>
                          <p class="faq__answer-text">
                            However, please note that these rights are not absolute and may be subject to our own legitimate interests and regulatory requirements. If you wish to exercise any of the rights mentioned above or receive more information, please get in touch with us at <a href="mailto:support@finmarket.dev;">support@finmarket.dev;</a>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="faq__item">
                      <div class="faq__question">
                          <span></span>
                          <p class="faq__question-text">
                            3. SHARING YOUR PERSONAL DATA WITH THIRD PARTIES
                          </p>
                      </div>
                      <div class="faq__answer">
                        <div class="content-block">
                          <h3 class="content-block__title">
                            3.1.
                          </h3>
                          <p class="faq__answer-text">
                            The Company only shares your Personal Data with third parties as necessary to provide services with due observance of the aforementioned legal basis. Nevertheless, the Company may provide your Personal Data to a third party, such as service providers, a supervisor, or any other public authority, to the extent that there is a legal obligation to do so.
                          </p>
                          <h3 class="content-block__title">
                            3.2.
                          </h3>
                          <p class="faq__answer-text">
                            If the Company contracts a third party to process your Personal Data on behalf of the Company, a processing agreement is concluded under which the designated third party is also obliged to comply with the GDPR. Third parties contracted by the Company who offer services as a Controller are also responsible for compliance with the GDPR for processing your Personal data.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="faq__item">
                      <div class="faq__question">
                          <span></span>
                          <p class="faq__question-text">
                            4. THIRD-PARTY WEBSITES AND SOCIAL MEDIA
                          </p>
                      </div>
                      <div class="faq__answer">
                        <div class="content-block">
                          <h3 class="content-block__title">
                            4.1.
                          </h3>
                          <p class="faq__answer-text">
                            On the Website, "buttons" and/or hyperlinks are included to promote or share web pages on social (media) networks or third-party websites such as, but not limited to, Twitter, Instagram, Telegram, or YouTube. The Company does not supervise these networks and websites and is therefore not responsible for processing your Personal Data by and through the parties behind those networks and websites. The use of these media is, therefore, at your own risk. Before using these third-party services, the Company recommends you read the privacy statements of those third parties.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="faq__item">
                      <div class="faq__question">
                          <span></span>
                          <p class="faq__question-text">
                            5. STORAGE AND RETENTION OF PERSONAL DATA
                          </p>
                      </div>
                      <div class="faq__answer">
                        <div class="content-block">
                          <p class="faq__answer-text">
                            All the (personal) data you provide to us is stored on secured servers. Where we have given you a password that enables you to access certain parts of our website and/or your personal account, you are responsible for keeping your own password confidential.
                          </p>
                          <h3 class="content-block__title">
                            5.1.
                          </h3>
                          <p class="faq__answer-text">
                            We will take all the necessary steps to ensure that your data is treated securely following this Privacy Notice.
                          </p>
                          <h3 class="content-block__title">
                            5.2.
                          </h3>
                          <p class="faq__answer-text">
                            The Personal Data we collect from you will be transferred to and stored at a secure server administered by the Company or a service provider designated by the Company. Your Personal Data will be processed by staff who work for us and/or by staff who work for one of our suppliers.
                          </p>
                          <h3 class="content-block__title">
                            5.3.
                          </h3>
                          <p class="faq__answer-text">
                            Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your Personal Data, we cannot guarantee the security of your data transmitted to and through our website and your personal account (if applicable). Therefore, any transmission is done by you at your own risk. Once we have received your Personal Data, we will use strict procedures and security features to prevent any unauthorized access.
                          </p>
                          <h3 class="content-block__title">
                            5.4.
                          </h3>
                          <p class="faq__answer-text">
                            We will keep your Personal Data no longer than is necessary following the legal basis and purposes stated above and/or to meet legal and regulatory requirements.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="faq__item">
                      <div class="faq__question">
                          <span></span>
                          <p class="faq__question-text">
                            6. CHANGES TO THE PRIVACY POLICY
                          </p>
                      </div>
                      <div class="faq__answer">
                        <div class="content-block">
                          <h3 class="content-block__title">
                            6.1.
                          </h3>
                          <p class="faq__answer-text">
                            We reserve the right to modify or amend this Privacy Notice at our discretion. Any changes can be viewed in the “Last Updated” field above, so please check the section regularly.
                          </p>
                          <h3 class="content-block__title">
                            6.2.
                          </h3>
                          <p class="faq__answer-text">
                            If we make any material changes, we will post the new Privacy Notice on the website with a new effective date.
                          </p>
                          <h3 class="content-block__title">
                            6.3.
                          </h3>
                          <p class="faq__answer-text">
                            If the User does not accept a new edition of the Privacy Notice, they must stop using our website.
                          </p>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
