<section class="section roadmap">
    <div class="wrapper">
        <h1 class="section__title">
            <div class="subtitle">
                Discover the features of our product
            </div>
            Roadmap Calorie 
        </h1>
        <div class="roadmap__anchors-container">
            <ul class="roadmap__anchors anchors list-reset">
                <li class="anchors__item">
                    <a href="#demo" class="anchors__link scroll-link">
                        <span class="icon-circle demo"></span>
                        <span class="link-text">
                            Demo version
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="anchors__item">
                    <a href="#types" class="anchors__link scroll-link">
                        <span class="icon-circle types"></span>
                        <span class="link-text">
                            Types of activities
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="anchors__item">
                    <a href="#shop" class="anchors__link scroll-link">
                        <span class="icon-circle shop"></span>
                        <span class="link-text">
                            Shop
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="anchors__item">
                    <a href="#referral" class="anchors__link scroll-link">
                        <span class="icon-circle referral"></span>
                        <span class="link-text">
                            Referral system
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="anchors__item">
                    <a href="#events" class="anchors__link scroll-link">
                        <span class="icon-circle events"></span>
                        <span class="link-text">
                            Exciting events
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="demo" class="section anchor demo">
    <div class="anchor__icon border-r"></div>
    <div class="wrapper">
        <h2 class="section__title">
            Demo version
            <div class="subtitle">
                In the demo version you will be able to:
            </div>
        </h2>
        <div class="demo__container">
            <div class="demo__images">
                <img src="../images/roadmap/demo/demo-images.png" alt="Sign up" class="main-image-mob">
                <img src="../images/roadmap/demo/demo-main.png" alt="Sign up" class="main-image">
                <div class="demo__images-box">
                    <img src="../images/roadmap/demo/demo-main-2.png" alt="Sign up" class="main-image">
                </div>
                <img src="../images/roadmap/demo/demo-main-3.png" alt="Sign up" class="small-image">
            </div>
            <div class="demo__content">
                <ol class="demo__list list-reset">
                    <li class="demo__list-item">
                        <span class="anchor__title">
                            01/ Sign up
                        </span>
                        <p class="anchor__text">
                            Amet sit magna pellentesque aliquam ullamcorper at lectus. 
                            Tempor malesuada eget sit sed tellus erat rhoncus. 
                        </p>
                    </li>
                    <li class="demo__list-item">
                        <span class="anchor__title">
                            02/ Type of activity - only walking
                        </span>
                        <p class="anchor__text">
                            Amet sit magna pellentesque aliquam ullamcorper at lectus. 
                            Tempor malesuada eget sit sed tellus erat rhoncus. 
                        </p>
                    </li>
                    <li class="demo__list-item">
                        <span class="anchor__title">
                            03/ Make money anywhere
                        </span>
                        <p class="anchor__text">
                            Amet sit magna pellentesque aliquam ullamcorper at lectus. 
                        </p>
                    </li>
                </ol>
                <div class="btn-groups">
                    <a href="#" class="sign-up">
                        Sign up
                    </a>
                    <a href="#" target="_blank" class="link link-download">
                        Download  App
                    </a>
                </div>
            </div>
        </div>
        <div class="end-elem"></div>
    </div>
</section>
<div id="types">
    <section class="section anchor types">
        <div class="anchor__icon border-r"></div>
        <div class="wrapper">
            <h2 class="section__title">
                Types of activities
                <div class="subtitle">
                    In the full version of the app you get:
                </div>
            </h2>
            <div class="anchor__content">
                <div class="anchor__title">
                    01/ More types of activity
                </div>
                <div class="anchor__text">
                    You can earn in the way you like and change the type of your activity
                </div>
            </div>
            <div class="types__container">
                <div class="item">
                    <img src="../images/roadmap/types/types-1.png" alt="Walking" class="item__image">
                    <span class="anchor__title">
                        Walking
                    </span>
                </div>
                <div class="item">
                    <img src="../images/roadmap/types/types-2.png" alt="Running" class="item__image">
                    <span class="anchor__title">
                        Running
                    </span>
                </div>
                <div class="item">
                    <img src="../images/roadmap/types/types-3.png" alt="Cycling" class="item__image">
                    <span class="anchor__title">
                        Cycling
                    </span>
                </div>
                <div class="item">
                    <img src="../images/roadmap/types/types-4.png" alt="Play games" class="item__image">
                    <span class="anchor__title">
                        Play games
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="section anchor types types-2 d-none">
        <div class="anchor__icon border-l border-r"></div>
        <div class="wrapper">
            <h2 class="section__title">
                Types of activities
                <div class="subtitle">
                    In the full version of the app you get:
                </div>
            </h2>
            <div class="anchor__content">
                <div class="anchor__title">
                    02/ Different amount
                </div>
                <div class="anchor__text">
                    Get a different amount of credit depending on the type of activity
                </div>
            </div>
            <div class="types__container">
                <div class="items">
                    <div class="item">
                        <img src="../images/roadmap/types/types-2-1.png" alt="Different amount" class="item__image">
                    </div>
                    <div class="item">
                        <img src="../images/roadmap/types/types-2-2.png" alt="Different amount" class="item__image">
                    </div>
                    <div class="item">
                        <img src="../images/roadmap/types/types-2-3.png" alt="Different amount" class="item__image">
                    </div>
                    <div class="item">
                        <img src="../images/roadmap/types/types-2-4.png" alt="Different amount" class="item__image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section anchor types types-3 d-none">
        <div class="anchor__icon border-l border-r"></div>
        <div class="wrapper">
            <h2 class="section__title">
                Types of activities
                <div class="subtitle">
                    In the full version of the app you get:
                </div>
            </h2>
            <div class="anchor__content">
                <div class="anchor__title">
                    03/ GPS навигатор
                </div>
                <div class="anchor__text">
                    The fact of movement is fixed by the application using GPS navigation
                </div>
            </div>
            <div class="types__container">
                <div class="types__images">
                    <img class="image" src="../images/home/gps-nav.png" alt="GPS навигатор">
                </div>
            </div>
        </div>
    </section>
    <section class="section anchor demo types types-4 d-none">
        <div class="anchor__icon border-l"></div>
        <div class="wrapper">
            <h2 class="section__title">
                Types of activities
                <div class="subtitle">
                    In the full version of the app you get:
                </div>
            </h2>
            <div class="demo__container">
                <div class="demo__images">
                    <img src="../images/roadmap/types/types-images.png" alt="Statistics" class="image">
                </div>
                <div class="demo__content">
                    <ol class="demo__list list-reset">
                        <li class="demo__list-item">
                            <span class="anchor__title">
                                04/ Statistics
                            </span>
                            <p class="anchor__text">
                                These statistics include: the number of coins earned, 
                                the active time, the number of calories you burned, 
                                the distance covered 
                            </p>
                        </li>
                    </ol>
                    <div class="btn-groups">
                        <a href="#" class="sign-up">
                            Sign up
                        </a>
                        <a href="#" target="_blank" class="link link-download">
                            Demo version App
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>