<section class="section roadmap">
    <div class="wrapper">
        <h2 class="section__title">
            <div class="subtitle">
                Discover the features of our product
            </div>
            Roadmap Calorie 
        </h2>
        <div class="roadmap__anchors-container">
            <ul class="roadmap__anchors anchors list-reset">
                <li class="anchors__item">
                    <a href="#demo" class="anchors__link scroll-link">
                        <span class="icon-circle demo"></span>
                        <span class="link-text">
                            Demo version
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="anchors__item">
                    <a href="#types" class="anchors__link scroll-link">
                        <span class="icon-circle types"></span>
                        <span class="link-text">
                            Types of activities
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="anchors__item">
                    <a href="#shop" class="anchors__link scroll-link">
                        <span class="icon-circle shop"></span>
                        <span class="link-text">
                            Shop
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="anchors__item">
                    <a href="#referral" class="anchors__link scroll-link">
                        <span class="icon-circle referral"></span>
                        <span class="link-text">
                            Referral system
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="anchors__item">
                    <a href="#events" class="anchors__link scroll-link">
                        <span class="icon-circle events"></span>
                        <span class="link-text">
                            Exciting events
                        </span>
                        <svg class="icon arrow">
                            <use xlink:href="images/sprite.svg#link-arrow"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="section demo">
    <div class="wrapper">

    </div>
</section>