<div class="activities roadmap">
    <section class="section activities__bg">
        <div class="wrapper">
            <h2 class="section__subtitle">
                About our Web-application
            </h2>
            <h1 class="section__title">
                RoadMap
            </h1>
        </div>
    </section>
    <div class="section stages">
        <div class="wrapper">
            <div class="tabs" data-tabs="stages">
                <ul class="list-reset tabs__nav">
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn" type="button">
                            stage 1
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn" type="button">
                            stage 2
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn" type="button">
                            stage 3
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn" type="button">
                            stage 4
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn" type="button">
                            stage 5
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn" type="button">
                            stage 6
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn" type="button">
                            stage 7
                        </button>
                    </li>
                </ul>
                <div class="tabs__content">
                    <div class="tabs__panel">
                        <div class="swiper-button-prev stage-slider__btns stage1-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper stage-slider stage1__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Development and structuring of the idea.<br> 
                                        Analysis of the market and competitors.<br> 
                                        Naming of the project.
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-1/1.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-1/1.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-1/1.jpg" class="image" alt="stage 1">
                                    </picture>
                                    <span class="stage-slider__date">
                                        April - June 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Designing the logo,<br>
                                        corporate identity of the application. 
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-1/2.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-1/2.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-1/2.jpg" class="image" alt="stage 1">
                                    </picture>
                                    <span class="stage-slider__date">
                                        April - June 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Search for technology and api documentation<br> 
                                        to implement a demo version<br> 
                                        of the application
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-1/3.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-1/3.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-1/3.jpg" class="image" alt="stage 1">
                                    </picture>
                                    <span class="stage-slider__date">
                                        April - June 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Development of corporate style design<br> 
                                        for web-site presenting the application<br> 
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-1/4.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-1/4.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-1/4.jpg" class="image" alt="stage 1">
                                    </picture>
                                    <span class="stage-slider__date">
                                        April - June 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Design <br>
                                        and release of the demo version 
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-1/5.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-1/5.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-1/5.jpg" class="image" alt="stage 1">
                                    </picture>
                                    <span class="stage-slider__date">
                                        April - June 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next stage-slider__btns stage1-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="stage-slider__pagination stage1__pagin swiper-pagination"></div>
                    </div>
                    <div class="tabs__panel">
                        <div class="swiper-button-prev stage-slider__btns stage2-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper stage-slider stage2__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Development of the application mechanics core, 
                                        application structuring
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-2/1.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-2/1.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-2/1.jpg" class="image" alt="stage 2">
                                    </picture>
                                    <span class="stage-slider__date">
                                        June-October 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Deployment of crm system<br> 
                                        to control registered users
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-2/2.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-2/2.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-2/2.jpg" class="image" alt="stage 2">
                                    </picture>
                                    <span class="stage-slider__date">
                                        June-October 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <div class="content">
                                        <h4 class="title">
                                            Sysadmin work
                                        </h4>
                                        <ul class="list-reset list">
                                            <li>Application of virtualization systems</li>
                                            <li>Internal API and Database interaction optimization</li>
                                            <li>Distributed code base access systems for developers</li>
                                            <li>Enabling balancing</li>
                                            <li>Architecture Modularity</li>
                                            <li>Application of SDN vendors</li>
                                        </ul>
                                    </div>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-2/3.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-2/3.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-2/3.jpg" class="image" alt="stage 2">
                                    </picture>
                                    <span class="stage-slider__date">
                                        June-October 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <div class="content">
                                        <h4 class="title">
                                            Connection and customization of API 
                                            for synchronization of registered users 
                                            in the application into crm system
                                        </h4>
                                        <ul class="list-reset list">
                                            <li>User authorization using HTTP Basic Auth method</li>
                                            <li>Updating of the authorized user</li>
                                            <li>Access to API through X-API-KEY</li>
                                            <li>Authorization, JSON Web Tokens generation</li>
                                            <li>Getting information about fullness</li>
                                        </ul>
                                    </div>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-2/4.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-2/4.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-2/4.jpg" class="image" alt="stage 2">
                                    </picture>
                                    <span class="stage-slider__date">
                                        June-October 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Connecting pedometer to the application<br> 
                                        to calculate steps and get inner-game coins
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-2/5.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-2/5.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-2/5.jpg" class="image" alt="stage 2">
                                    </picture>
                                    <span class="stage-slider__date">
                                        June-October 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Front end web site development 
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-2/6.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-2/6.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-2/6.jpg" class="image" alt="stage 2">
                                    </picture>
                                    <span class="stage-slider__date">
                                        June-October 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Drawing NFT images<br>
                                        for the store in the app
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-2/7.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-2/7.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-2/7.jpg" class="image" alt="stage 2">
                                    </picture>
                                    <span class="stage-slider__date">
                                        June-October 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Compiling the application on android OS<br> 
                                        and IOS. Testing qa functionality<br>
                                        from different gadgets 
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-2/8.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-2/8.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-2/8.jpg" class="image" alt="stage 2">
                                    </picture>
                                    <span class="stage-slider__date">
                                        June-October 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next stage-slider__btns stage2-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="stage-slider__pagination stage2__pagin swiper-pagination"></div>
                    </div>
                    <div class="tabs__panel">
                        <div class="swiper-button-prev stage-slider__btns stage3-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper stage-slider stage3__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Expanded terms of reference due to increased<br> 
                                        functionality of the application
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-3/1.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-3/1.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-3/1.jpg" class="image" alt="stage 3">
                                    </picture>
                                    <span class="stage-slider__date">
                                        November - February 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Study of technologies<br>
                                        and first creation of mint NFT
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-3/2.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-3/2.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-3/2.jpg" class="image" alt="stage 3">
                                    </picture>
                                    <span class="stage-slider__date">
                                        November - February 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <div class="content">
                                        <h4 class="title">
                                            Creation and connection<br> 
                                            of the store of in-game items
                                        </h4>
                                        <ul class="list-reset list">
                                            <li>Ability to purchase NFT items</li>
                                            <li>Filtering and sorting items by categories, type, price, etc.</li>
                                        </ul>
                                    </div>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-3/3.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-3/3.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-3/3.jpg" class="image" alt="stage 3">
                                    </picture>
                                    <span class="stage-slider__date">
                                        November - February 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Develop an inventory of NFT items purchased by<br>
                                        the user, with the ability to put them on the<br>
                                        character
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-3/4.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-3/4.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-3/4.jpg" class="image" alt="stage 3">
                                    </picture>
                                    <span class="stage-slider__date">
                                        November - February 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <div class="content">
                                        <h4 class="title">
                                            Connection of the crypto-wallet to the application. 
                                            Including send and recieve functionality, 
                                            transaction history. Using networks
                                        </h4>
                                        <ul class="list-reset list">
                                            <li>BNB</li>
                                            <li>BUSD</li>
                                            <li>in-game coins</li>
                                        </ul>
                                    </div>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-3/5.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-3/5.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-3/5.jpg" class="image" alt="stage 3">
                                    </picture>
                                    <span class="stage-slider__date">
                                        November - February 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Importing already existing wallets<br> 
                                        from users of the application<br>
                                        using seed phrase
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-3/6.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-3/6.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-3/6.jpg" class="image" alt="stage 3">
                                    </picture>
                                    <span class="stage-slider__date">
                                        November - February 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Developing a security system<br>
                                        that protects wallets from hacking
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-3/7.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-3/7.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-3/7.jpg" class="image" alt="stage 3">
                                    </picture>
                                    <span class="stage-slider__date">
                                        November - February 2022
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Importing/exporting and trading NFT items<br>
                                        to interact with other app users
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-3/8.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-3/8.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-3/8.jpg" class="image" alt="stage 3">
                                    </picture>
                                    <span class="stage-slider__date">
                                        November - February 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next stage-slider__btns stage3-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="stage-slider__pagination stage3__pagin swiper-pagination"></div>
                    </div>
                    <div class="tabs__panel">
                        <div class="swiper-button-prev stage-slider__btns stage4-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper stage-slider stage4__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Adding a Running activity type and integrating<br> 
                                        a GPS navigator to record the<br>
                                        Running activity type
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-4/1.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-4/1.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-4/1.jpg" class="image" alt="stage 4">
                                    </picture>
                                    <span class="stage-slider__date">
                                        2nd quarter 2023
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <div class="content">
                                        <h4 class="title">
                                            Coin multiplier
                                        </h4>
                                        <ul class="list-reset list">
                                            <li>Increasing of the character level, and reward for the level increase</li>
                                            <li>Development of fixing user statistics</li>
                                        </ul>
                                    </div>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-4/2.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-4/2.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-4/2.jpg" class="image" alt="stage 4">
                                    </picture>
                                    <span class="stage-slider__date">
                                        2nd quarter 2023
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <div class="content">
                                        <h4 class="title">
                                            Finalization of the NFT collections, their creation 
                                            and placement into the store
                                        </h4>
                                        <ul class="list-reset list">
                                            <li>Mechanic development of user items accounting and their influence on the earnings.</li>
                                            <li>Implementation of Rewards functionality for the users when performing tasks</li>
                                        </ul>
                                    </div>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-4/3.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-4/3.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-4/3.jpg" class="image" alt="stage 4">
                                    </picture>
                                    <span class="stage-slider__date">
                                        2nd quarter 2023
                                    </span>
                                </div>
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Implementation of the application<br> 
                                        on google play<br>
                                        and app store
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-4/4.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-4/4.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-4/4.jpg" class="image" alt="stage 4">
                                    </picture>
                                    <span class="stage-slider__date">
                                        2nd quarter 2023
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next stage-slider__btns stage4-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="stage-slider__pagination stage4__pagin swiper-pagination"></div>
                    </div>
                    <div class="tabs__panel">
                        <div class="swiper-button-prev stage-slider__btns stage5-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper stage-slider stage5__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide stage-slider__slide">
                                    <div class="content">
                                        <h4 class="title">
                                            Connecting the application to the NFT Marketplace
                                        </h4>
                                        <ul class="list-reset list">
                                            <li>Implementation of the possibility for the user to withdraw the earned tokens</li>
                                            <li>Development of joint activities of 2 or more users</li>
                                            <li>Development and implementation of the activity type of cycling</li>
                                        </ul>
                                    </div>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-5/1.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-5/1.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-5/1.jpg" class="image" alt="stage 5">
                                    </picture>
                                    <span class="stage-slider__date">
                                        July - December 2023
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next stage-slider__btns stage5-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="stage-slider__pagination stage5__pagin swiper-pagination"></div>
                    </div>
                    <div class="tabs__panel">
                        <div class="swiper-button-prev stage-slider__btns stage6-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper stage-slider stage6__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide stage-slider__slide">
                                    <div class="content">
                                        <h4 class="title">
                                            Branding the application and game items to sponsors
                                        </h4>
                                        <ul class="list-reset list">
                                            <li>Introduction and sale of physical sporting goods</li>
                                            <li>Implementation of the possibility of holding sports events and competitions.</li>
                                            <li>Implementation of the possibility of holding charity events</li>
                                        </ul>
                                    </div>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-6/1.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-6/1.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-6/1.jpg" class="image" alt="stage 6">
                                    </picture>
                                    <span class="stage-slider__date">
                                        February - July 2024
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next stage-slider__btns stage6-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="stage-slider__pagination stage6__pagin swiper-pagination"></div>
                    </div>
                    <div class="tabs__panel">
                        <div class="swiper-button-prev stage-slider__btns stage7-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper stage-slider stage7__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide stage-slider__slide">
                                    <p class="stage-slider__text">
                                        Development and implementation of the Stadium.
                                        Planning the expansion of functionality in relation 
                                        to market trends
                                    </p>
                                    <picture>
                                        <source srcset="images/roadmap/stages/stage-7/1.avif" type="image/avif">
                                        <source srcset="images/roadmap/stages/stage-7/1.webp" type="image/webp">
                                        <img loading="lazy" src="images/roadmap/stages/stage-7/1.jpg" class="image" alt="stage 7">
                                    </picture>
                                    <span class="stage-slider__date">
                                        August - November 2024
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next stage-slider__btns stage7-slider__btns">
                            <svg class="icon">
                                <use xlink:href="images/sprite.svg#btn-arrow"></use>
                            </svg>
                        </div>
                        <div class="stage-slider__pagination stage7__pagin swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>