<div class="activities white-paper">
    <section class="section activities__bg">
        <div class="wrapper">
            <h2 class="section__subtitle">
                About our Web-application
            </h2>
            <h1 class="section__title">
                White Paper
            </h1>
        </div>
    </section>
    <section class="section fq">
        <div class="wrapper">
            <div class="fq__container">
                <ul class="faq list-reset">
                    <li class="faq__item faq__item--active">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                                Overview
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Problem
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Observing the lifestyle of people in recent years, especially after the coronavirus pandemic, 
                                        people have begun to lead a less active lifestyle.<br><br>
                                        Many switched to a remote work format, which contributed to the development of a sedentary 
                                        lifestyle. People began to forget that it is necessary to move and engage in physical activities. 
                                        As a result, mobility problems began to arise.<br><br>
                                        Experiencing pain and discomfort in the body, people began to think about sports. Many people 
                                        want to train outside the gym: at home, on the street, which is a cost saving.<br><br>
                                        It has become fashionable to eat right and exercise: everyone wants to look good not only right 
                                        now, but also to live longer. Numerous studies on the benefits of physical activity only increase 
                                        the number of followers of healthy lifestyle.<br><br>
                                        Nowadays, the App Store and Play Market are overflowing with various applications with online 
                                        workouts. All of them are diverse and a person often uses several at the same time, because each 
                                        has some features.<br><br>
                                        All of them help to adhere to the training regime and turn classes into a game with a competitive 
                                        element. The concept of gamification is responsible for this: by encouraging users with trophies 
                                        or badges for achieving certain health-related goals, applications motivate them to achieve better 
                                        results. And trackers allow you to constantly monitor progress.
                                    </p>
                                    <p class="faq__answer-text">
                                        But according to scientists, not everything is so good with these applications. When using multiple 
                                        applications at the same time, a neurotic state can become the norm.<br><br>
                                        Fitness apps have such a psychological property, they impose what needs to be done.<br><br> 
                                        A person takes care of his health, downloads an application that is pleasant to the interface and 
                                        starts working on it. But he had never looked after himself before.<br><br>
                                        What happens when a person who has never exercised in their life mindlessly download a workout app in 
                                        the hope of achieving their body goal? Pretty soon they give up because they are not used to physical 
                                        activity.<br><br>
                                        Today fitness apps do not motivate their users enough and instill the idea that in order to achieve 
                                        the body you desire it is necessary to workout hard for a very long period of time.<br><br>
                                        The next generation of apps should be focused on helping users enjoy the physical activity itself.
                                    </p>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Solution
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Interest and motivation play an important part in encouraging people to move, exercise and engage in 
                                        various physical activities.<br><br>
                                        Interest arises in the app, which has a variety of workouts, a user-friendly interface,  goals and 
                                        perhaps a motivation system. However this only works until engagement and inducement start to fade away. 
                                        This is when all classes come to an end.<br><br>
                                        Caloria understands the importance of app usability and stimulation.<br><br>
                                        Therefore, motivation and a user-friendly interface are necessary for the destruction of already familiar 
                                        lifestyles.<br><br>
                                    </p>
                                    <p class="faq__answer-text">
                                        In just one app you can find all types of training, ease of use and the ability to change images to get 
                                        great results, motivate for constant physical activity.<br><br>
                                        Using the capabilities of blockchain technology, an immutable registry can be used to record training 
                                        results.<br><br>
                                        Move, get new skins and earn with Caloria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                                Earning on the move
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Problem
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Observing the lifestyle of people in recent years, especially after the coronavirus pandemic, 
                                        people have begun to lead a less active lifestyle.<br><br>
                                        Many switched to a remote work format, which contributed to the development of a sedentary 
                                        lifestyle. People began to forget that it is necessary to move and engage in physical activities. 
                                        As a result, mobility problems began to arise.<br><br>
                                        Experiencing pain and discomfort in the body, people began to think about sports. Many people 
                                        want to train outside the gym: at home, on the street, which is a cost saving.<br><br>
                                        It has become fashionable to eat right and exercise: everyone wants to look good not only right 
                                        now, but also to live longer. Numerous studies on the benefits of physical activity only increase 
                                        the number of followers of healthy lifestyle.<br><br>
                                        Nowadays, the App Store and Play Market are overflowing with various applications with online 
                                        workouts. All of them are diverse and a person often uses several at the same time, because each 
                                        has some features.<br><br>
                                        All of them help to adhere to the training regime and turn classes into a game with a competitive 
                                        element. The concept of gamification is responsible for this: by encouraging users with trophies 
                                        or badges for achieving certain health-related goals, applications motivate them to achieve better 
                                        results. And trackers allow you to constantly monitor progress.
                                    </p>
                                    <p class="faq__answer-text">
                                        But according to scientists, not everything is so good with these applications. When using multiple 
                                        applications at the same time, a neurotic state can become the norm.<br><br>
                                        Fitness apps have such a psychological property, they impose what needs to be done.<br><br> 
                                        A person takes care of his health, downloads an application that is pleasant to the interface and 
                                        starts working on it. But he had never looked after himself before.<br><br>
                                        What happens when a person who has never exercised in their life mindlessly download a workout app in 
                                        the hope of achieving their body goal? Pretty soon they give up because they are not used to physical 
                                        activity.<br><br>
                                        Today fitness apps do not motivate their users enough and instill the idea that in order to achieve 
                                        the body you desire it is necessary to workout hard for a very long period of time.<br><br>
                                        The next generation of apps should be focused on helping users enjoy the physical activity itself.
                                    </p>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Solution
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Interest and motivation play an important part in encouraging people to move, exercise and engage in 
                                        various physical activities.<br><br>
                                        Interest arises in the app, which has a variety of workouts, a user-friendly interface,  goals and 
                                        perhaps a motivation system. However this only works until engagement and inducement start to fade away. 
                                        This is when all classes come to an end.<br><br>
                                        Caloria understands the importance of app usability and stimulation.<br><br>
                                        Therefore, motivation and a user-friendly interface are necessary for the destruction of already familiar 
                                        lifestyles.<br><br>
                                    </p>
                                    <p class="faq__answer-text">
                                        In just one app you can find all types of training, ease of use and the ability to change images to get 
                                        great results, motivate for constant physical activity.<br><br>
                                        Using the capabilities of blockchain technology, an immutable registry can be used to record training 
                                        results.<br><br>
                                        Move, get new skins and earn with Caloria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                                Earning on the move
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Problem
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Observing the lifestyle of people in recent years, especially after the coronavirus pandemic, 
                                        people have begun to lead a less active lifestyle.<br><br>
                                        Many switched to a remote work format, which contributed to the development of a sedentary 
                                        lifestyle. People began to forget that it is necessary to move and engage in physical activities. 
                                        As a result, mobility problems began to arise.<br><br>
                                        Experiencing pain and discomfort in the body, people began to think about sports. Many people 
                                        want to train outside the gym: at home, on the street, which is a cost saving.<br><br>
                                        It has become fashionable to eat right and exercise: everyone wants to look good not only right 
                                        now, but also to live longer. Numerous studies on the benefits of physical activity only increase 
                                        the number of followers of healthy lifestyle.<br><br>
                                        Nowadays, the App Store and Play Market are overflowing with various applications with online 
                                        workouts. All of them are diverse and a person often uses several at the same time, because each 
                                        has some features.<br><br>
                                        All of them help to adhere to the training regime and turn classes into a game with a competitive 
                                        element. The concept of gamification is responsible for this: by encouraging users with trophies 
                                        or badges for achieving certain health-related goals, applications motivate them to achieve better 
                                        results. And trackers allow you to constantly monitor progress.
                                    </p>
                                    <p class="faq__answer-text">
                                        But according to scientists, not everything is so good with these applications. When using multiple 
                                        applications at the same time, a neurotic state can become the norm.<br><br>
                                        Fitness apps have such a psychological property, they impose what needs to be done.<br><br> 
                                        A person takes care of his health, downloads an application that is pleasant to the interface and 
                                        starts working on it. But he had never looked after himself before.<br><br>
                                        What happens when a person who has never exercised in their life mindlessly download a workout app in 
                                        the hope of achieving their body goal? Pretty soon they give up because they are not used to physical 
                                        activity.<br><br>
                                        Today fitness apps do not motivate their users enough and instill the idea that in order to achieve 
                                        the body you desire it is necessary to workout hard for a very long period of time.<br><br>
                                        The next generation of apps should be focused on helping users enjoy the physical activity itself.
                                    </p>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Solution
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Interest and motivation play an important part in encouraging people to move, exercise and engage in 
                                        various physical activities.<br><br>
                                        Interest arises in the app, which has a variety of workouts, a user-friendly interface,  goals and 
                                        perhaps a motivation system. However this only works until engagement and inducement start to fade away. 
                                        This is when all classes come to an end.<br><br>
                                        Caloria understands the importance of app usability and stimulation.<br><br>
                                        Therefore, motivation and a user-friendly interface are necessary for the destruction of already familiar 
                                        lifestyles.<br><br>
                                    </p>
                                    <p class="faq__answer-text">
                                        In just one app you can find all types of training, ease of use and the ability to change images to get 
                                        great results, motivate for constant physical activity.<br><br>
                                        Using the capabilities of blockchain technology, an immutable registry can be used to record training 
                                        results.<br><br>
                                        Move, get new skins and earn with Caloria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                                Possible types of activity
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Problem
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Observing the lifestyle of people in recent years, especially after the coronavirus pandemic, 
                                        people have begun to lead a less active lifestyle.<br><br>
                                        Many switched to a remote work format, which contributed to the development of a sedentary 
                                        lifestyle. People began to forget that it is necessary to move and engage in physical activities. 
                                        As a result, mobility problems began to arise.<br><br>
                                        Experiencing pain and discomfort in the body, people began to think about sports. Many people 
                                        want to train outside the gym: at home, on the street, which is a cost saving.<br><br>
                                        It has become fashionable to eat right and exercise: everyone wants to look good not only right 
                                        now, but also to live longer. Numerous studies on the benefits of physical activity only increase 
                                        the number of followers of healthy lifestyle.<br><br>
                                        Nowadays, the App Store and Play Market are overflowing with various applications with online 
                                        workouts. All of them are diverse and a person often uses several at the same time, because each 
                                        has some features.<br><br>
                                        All of them help to adhere to the training regime and turn classes into a game with a competitive 
                                        element. The concept of gamification is responsible for this: by encouraging users with trophies 
                                        or badges for achieving certain health-related goals, applications motivate them to achieve better 
                                        results. And trackers allow you to constantly monitor progress.
                                    </p>
                                    <p class="faq__answer-text">
                                        But according to scientists, not everything is so good with these applications. When using multiple 
                                        applications at the same time, a neurotic state can become the norm.<br><br>
                                        Fitness apps have such a psychological property, they impose what needs to be done.<br><br> 
                                        A person takes care of his health, downloads an application that is pleasant to the interface and 
                                        starts working on it. But he had never looked after himself before.<br><br>
                                        What happens when a person who has never exercised in their life mindlessly download a workout app in 
                                        the hope of achieving their body goal? Pretty soon they give up because they are not used to physical 
                                        activity.<br><br>
                                        Today fitness apps do not motivate their users enough and instill the idea that in order to achieve 
                                        the body you desire it is necessary to workout hard for a very long period of time.<br><br>
                                        The next generation of apps should be focused on helping users enjoy the physical activity itself.
                                    </p>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Solution
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Interest and motivation play an important part in encouraging people to move, exercise and engage in 
                                        various physical activities.<br><br>
                                        Interest arises in the app, which has a variety of workouts, a user-friendly interface,  goals and 
                                        perhaps a motivation system. However this only works until engagement and inducement start to fade away. 
                                        This is when all classes come to an end.<br><br>
                                        Caloria understands the importance of app usability and stimulation.<br><br>
                                        Therefore, motivation and a user-friendly interface are necessary for the destruction of already familiar 
                                        lifestyles.<br><br>
                                    </p>
                                    <p class="faq__answer-text">
                                        In just one app you can find all types of training, ease of use and the ability to change images to get 
                                        great results, motivate for constant physical activity.<br><br>
                                        Using the capabilities of blockchain technology, an immutable registry can be used to record training 
                                        results.<br><br>
                                        Move, get new skins and earn with Caloria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                                Getting Started
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Problem
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Observing the lifestyle of people in recent years, especially after the coronavirus pandemic, 
                                        people have begun to lead a less active lifestyle.<br><br>
                                        Many switched to a remote work format, which contributed to the development of a sedentary 
                                        lifestyle. People began to forget that it is necessary to move and engage in physical activities. 
                                        As a result, mobility problems began to arise.<br><br>
                                        Experiencing pain and discomfort in the body, people began to think about sports. Many people 
                                        want to train outside the gym: at home, on the street, which is a cost saving.<br><br>
                                        It has become fashionable to eat right and exercise: everyone wants to look good not only right 
                                        now, but also to live longer. Numerous studies on the benefits of physical activity only increase 
                                        the number of followers of healthy lifestyle.<br><br>
                                        Nowadays, the App Store and Play Market are overflowing with various applications with online 
                                        workouts. All of them are diverse and a person often uses several at the same time, because each 
                                        has some features.<br><br>
                                        All of them help to adhere to the training regime and turn classes into a game with a competitive 
                                        element. The concept of gamification is responsible for this: by encouraging users with trophies 
                                        or badges for achieving certain health-related goals, applications motivate them to achieve better 
                                        results. And trackers allow you to constantly monitor progress.
                                    </p>
                                    <p class="faq__answer-text">
                                        But according to scientists, not everything is so good with these applications. When using multiple 
                                        applications at the same time, a neurotic state can become the norm.<br><br>
                                        Fitness apps have such a psychological property, they impose what needs to be done.<br><br> 
                                        A person takes care of his health, downloads an application that is pleasant to the interface and 
                                        starts working on it. But he had never looked after himself before.<br><br>
                                        What happens when a person who has never exercised in their life mindlessly download a workout app in 
                                        the hope of achieving their body goal? Pretty soon they give up because they are not used to physical 
                                        activity.<br><br>
                                        Today fitness apps do not motivate their users enough and instill the idea that in order to achieve 
                                        the body you desire it is necessary to workout hard for a very long period of time.<br><br>
                                        The next generation of apps should be focused on helping users enjoy the physical activity itself.
                                    </p>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Solution
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Interest and motivation play an important part in encouraging people to move, exercise and engage in 
                                        various physical activities.<br><br>
                                        Interest arises in the app, which has a variety of workouts, a user-friendly interface,  goals and 
                                        perhaps a motivation system. However this only works until engagement and inducement start to fade away. 
                                        This is when all classes come to an end.<br><br>
                                        Caloria understands the importance of app usability and stimulation.<br><br>
                                        Therefore, motivation and a user-friendly interface are necessary for the destruction of already familiar 
                                        lifestyles.<br><br>
                                    </p>
                                    <p class="faq__answer-text">
                                        In just one app you can find all types of training, ease of use and the ability to change images to get 
                                        great results, motivate for constant physical activity.<br><br>
                                        Using the capabilities of blockchain technology, an immutable registry can be used to record training 
                                        results.<br><br>
                                        Move, get new skins and earn with Caloria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                                Game Elements
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Problem
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Observing the lifestyle of people in recent years, especially after the coronavirus pandemic, 
                                        people have begun to lead a less active lifestyle.<br><br>
                                        Many switched to a remote work format, which contributed to the development of a sedentary 
                                        lifestyle. People began to forget that it is necessary to move and engage in physical activities. 
                                        As a result, mobility problems began to arise.<br><br>
                                        Experiencing pain and discomfort in the body, people began to think about sports. Many people 
                                        want to train outside the gym: at home, on the street, which is a cost saving.<br><br>
                                        It has become fashionable to eat right and exercise: everyone wants to look good not only right 
                                        now, but also to live longer. Numerous studies on the benefits of physical activity only increase 
                                        the number of followers of healthy lifestyle.<br><br>
                                        Nowadays, the App Store and Play Market are overflowing with various applications with online 
                                        workouts. All of them are diverse and a person often uses several at the same time, because each 
                                        has some features.<br><br>
                                        All of them help to adhere to the training regime and turn classes into a game with a competitive 
                                        element. The concept of gamification is responsible for this: by encouraging users with trophies 
                                        or badges for achieving certain health-related goals, applications motivate them to achieve better 
                                        results. And trackers allow you to constantly monitor progress.
                                    </p>
                                    <p class="faq__answer-text">
                                        But according to scientists, not everything is so good with these applications. When using multiple 
                                        applications at the same time, a neurotic state can become the norm.<br><br>
                                        Fitness apps have such a psychological property, they impose what needs to be done.<br><br> 
                                        A person takes care of his health, downloads an application that is pleasant to the interface and 
                                        starts working on it. But he had never looked after himself before.<br><br>
                                        What happens when a person who has never exercised in their life mindlessly download a workout app in 
                                        the hope of achieving their body goal? Pretty soon they give up because they are not used to physical 
                                        activity.<br><br>
                                        Today fitness apps do not motivate their users enough and instill the idea that in order to achieve 
                                        the body you desire it is necessary to workout hard for a very long period of time.<br><br>
                                        The next generation of apps should be focused on helping users enjoy the physical activity itself.
                                    </p>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Solution
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Interest and motivation play an important part in encouraging people to move, exercise and engage in 
                                        various physical activities.<br><br>
                                        Interest arises in the app, which has a variety of workouts, a user-friendly interface,  goals and 
                                        perhaps a motivation system. However this only works until engagement and inducement start to fade away. 
                                        This is when all classes come to an end.<br><br>
                                        Caloria understands the importance of app usability and stimulation.<br><br>
                                        Therefore, motivation and a user-friendly interface are necessary for the destruction of already familiar 
                                        lifestyles.<br><br>
                                    </p>
                                    <p class="faq__answer-text">
                                        In just one app you can find all types of training, ease of use and the ability to change images to get 
                                        great results, motivate for constant physical activity.<br><br>
                                        Using the capabilities of blockchain technology, an immutable registry can be used to record training 
                                        results.<br><br>
                                        Move, get new skins and earn with Caloria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                                Tokenomics
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Problem
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Observing the lifestyle of people in recent years, especially after the coronavirus pandemic, 
                                        people have begun to lead a less active lifestyle.<br><br>
                                        Many switched to a remote work format, which contributed to the development of a sedentary 
                                        lifestyle. People began to forget that it is necessary to move and engage in physical activities. 
                                        As a result, mobility problems began to arise.<br><br>
                                        Experiencing pain and discomfort in the body, people began to think about sports. Many people 
                                        want to train outside the gym: at home, on the street, which is a cost saving.<br><br>
                                        It has become fashionable to eat right and exercise: everyone wants to look good not only right 
                                        now, but also to live longer. Numerous studies on the benefits of physical activity only increase 
                                        the number of followers of healthy lifestyle.<br><br>
                                        Nowadays, the App Store and Play Market are overflowing with various applications with online 
                                        workouts. All of them are diverse and a person often uses several at the same time, because each 
                                        has some features.<br><br>
                                        All of them help to adhere to the training regime and turn classes into a game with a competitive 
                                        element. The concept of gamification is responsible for this: by encouraging users with trophies 
                                        or badges for achieving certain health-related goals, applications motivate them to achieve better 
                                        results. And trackers allow you to constantly monitor progress.
                                    </p>
                                    <p class="faq__answer-text">
                                        But according to scientists, not everything is so good with these applications. When using multiple 
                                        applications at the same time, a neurotic state can become the norm.<br><br>
                                        Fitness apps have such a psychological property, they impose what needs to be done.<br><br> 
                                        A person takes care of his health, downloads an application that is pleasant to the interface and 
                                        starts working on it. But he had never looked after himself before.<br><br>
                                        What happens when a person who has never exercised in their life mindlessly download a workout app in 
                                        the hope of achieving their body goal? Pretty soon they give up because they are not used to physical 
                                        activity.<br><br>
                                        Today fitness apps do not motivate their users enough and instill the idea that in order to achieve 
                                        the body you desire it is necessary to workout hard for a very long period of time.<br><br>
                                        The next generation of apps should be focused on helping users enjoy the physical activity itself.
                                    </p>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Solution
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Interest and motivation play an important part in encouraging people to move, exercise and engage in 
                                        various physical activities.<br><br>
                                        Interest arises in the app, which has a variety of workouts, a user-friendly interface,  goals and 
                                        perhaps a motivation system. However this only works until engagement and inducement start to fade away. 
                                        This is when all classes come to an end.<br><br>
                                        Caloria understands the importance of app usability and stimulation.<br><br>
                                        Therefore, motivation and a user-friendly interface are necessary for the destruction of already familiar 
                                        lifestyles.<br><br>
                                    </p>
                                    <p class="faq__answer-text">
                                        In just one app you can find all types of training, ease of use and the ability to change images to get 
                                        great results, motivate for constant physical activity.<br><br>
                                        Using the capabilities of blockchain technology, an immutable registry can be used to record training 
                                        results.<br><br>
                                        Move, get new skins and earn with Caloria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                                Privacy
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Problem
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Observing the lifestyle of people in recent years, especially after the coronavirus pandemic, 
                                        people have begun to lead a less active lifestyle.<br><br>
                                        Many switched to a remote work format, which contributed to the development of a sedentary 
                                        lifestyle. People began to forget that it is necessary to move and engage in physical activities. 
                                        As a result, mobility problems began to arise.<br><br>
                                        Experiencing pain and discomfort in the body, people began to think about sports. Many people 
                                        want to train outside the gym: at home, on the street, which is a cost saving.<br><br>
                                        It has become fashionable to eat right and exercise: everyone wants to look good not only right 
                                        now, but also to live longer. Numerous studies on the benefits of physical activity only increase 
                                        the number of followers of healthy lifestyle.<br><br>
                                        Nowadays, the App Store and Play Market are overflowing with various applications with online 
                                        workouts. All of them are diverse and a person often uses several at the same time, because each 
                                        has some features.<br><br>
                                        All of them help to adhere to the training regime and turn classes into a game with a competitive 
                                        element. The concept of gamification is responsible for this: by encouraging users with trophies 
                                        or badges for achieving certain health-related goals, applications motivate them to achieve better 
                                        results. And trackers allow you to constantly monitor progress.
                                    </p>
                                    <p class="faq__answer-text">
                                        But according to scientists, not everything is so good with these applications. When using multiple 
                                        applications at the same time, a neurotic state can become the norm.<br><br>
                                        Fitness apps have such a psychological property, they impose what needs to be done.<br><br> 
                                        A person takes care of his health, downloads an application that is pleasant to the interface and 
                                        starts working on it. But he had never looked after himself before.<br><br>
                                        What happens when a person who has never exercised in their life mindlessly download a workout app in 
                                        the hope of achieving their body goal? Pretty soon they give up because they are not used to physical 
                                        activity.<br><br>
                                        Today fitness apps do not motivate their users enough and instill the idea that in order to achieve 
                                        the body you desire it is necessary to workout hard for a very long period of time.<br><br>
                                        The next generation of apps should be focused on helping users enjoy the physical activity itself.
                                    </p>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Solution
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Interest and motivation play an important part in encouraging people to move, exercise and engage in 
                                        various physical activities.<br><br>
                                        Interest arises in the app, which has a variety of workouts, a user-friendly interface,  goals and 
                                        perhaps a motivation system. However this only works until engagement and inducement start to fade away. 
                                        This is when all classes come to an end.<br><br>
                                        Caloria understands the importance of app usability and stimulation.<br><br>
                                        Therefore, motivation and a user-friendly interface are necessary for the destruction of already familiar 
                                        lifestyles.<br><br>
                                    </p>
                                    <p class="faq__answer-text">
                                        In just one app you can find all types of training, ease of use and the ability to change images to get 
                                        great results, motivate for constant physical activity.<br><br>
                                        Using the capabilities of blockchain technology, an immutable registry can be used to record training 
                                        results.<br><br>
                                        Move, get new skins and earn with Caloria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__item">
                        <div class="faq__question">
                            <span></span>
                            <p class="faq__question-text">
                                Security
                            </p>
                        </div>
                        <div class="faq__answer">
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Problem
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Observing the lifestyle of people in recent years, especially after the coronavirus pandemic, 
                                        people have begun to lead a less active lifestyle.<br><br>
                                        Many switched to a remote work format, which contributed to the development of a sedentary 
                                        lifestyle. People began to forget that it is necessary to move and engage in physical activities. 
                                        As a result, mobility problems began to arise.<br><br>
                                        Experiencing pain and discomfort in the body, people began to think about sports. Many people 
                                        want to train outside the gym: at home, on the street, which is a cost saving.<br><br>
                                        It has become fashionable to eat right and exercise: everyone wants to look good not only right 
                                        now, but also to live longer. Numerous studies on the benefits of physical activity only increase 
                                        the number of followers of healthy lifestyle.<br><br>
                                        Nowadays, the App Store and Play Market are overflowing with various applications with online 
                                        workouts. All of them are diverse and a person often uses several at the same time, because each 
                                        has some features.<br><br>
                                        All of them help to adhere to the training regime and turn classes into a game with a competitive 
                                        element. The concept of gamification is responsible for this: by encouraging users with trophies 
                                        or badges for achieving certain health-related goals, applications motivate them to achieve better 
                                        results. And trackers allow you to constantly monitor progress.
                                    </p>
                                    <p class="faq__answer-text">
                                        But according to scientists, not everything is so good with these applications. When using multiple 
                                        applications at the same time, a neurotic state can become the norm.<br><br>
                                        Fitness apps have such a psychological property, they impose what needs to be done.<br><br> 
                                        A person takes care of his health, downloads an application that is pleasant to the interface and 
                                        starts working on it. But he had never looked after himself before.<br><br>
                                        What happens when a person who has never exercised in their life mindlessly download a workout app in 
                                        the hope of achieving their body goal? Pretty soon they give up because they are not used to physical 
                                        activity.<br><br>
                                        Today fitness apps do not motivate their users enough and instill the idea that in order to achieve 
                                        the body you desire it is necessary to workout hard for a very long period of time.<br><br>
                                        The next generation of apps should be focused on helping users enjoy the physical activity itself.
                                    </p>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="content-block__title">
                                    The Solution
                                </h3>
                                <div class="content-block__text">
                                    <p class="faq__answer-text">
                                        Interest and motivation play an important part in encouraging people to move, exercise and engage in 
                                        various physical activities.<br><br>
                                        Interest arises in the app, which has a variety of workouts, a user-friendly interface,  goals and 
                                        perhaps a motivation system. However this only works until engagement and inducement start to fade away. 
                                        This is when all classes come to an end.<br><br>
                                        Caloria understands the importance of app usability and stimulation.<br><br>
                                        Therefore, motivation and a user-friendly interface are necessary for the destruction of already familiar 
                                        lifestyles.<br><br>
                                    </p>
                                    <p class="faq__answer-text">
                                        In just one app you can find all types of training, ease of use and the ability to change images to get 
                                        great results, motivate for constant physical activity.<br><br>
                                        Using the capabilities of blockchain technology, an immutable registry can be used to record training 
                                        results.<br><br>
                                        Move, get new skins and earn with Caloria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>