@include small-desktop {
  .footer {
    .socials {
      margin-left: 35px;
    }
  }
}

@include middle-tablet {
  .footer {
    &__container {
      flex-wrap: wrap;
    }
    .copyright {
      width: 100%;
      order: 1;
      margin-left: 0;
      margin-top: 20px;
      text-align: center;

      br {
        display: none;
      }
    }

    .socials {
      margin-left: auto;
    }
  }
}

@include mobile {
    .footer {
        padding-bottom: 70px;
        background-image: url('../images/home/footer-bg-mob.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;

        &__container {
            padding-top: 70px;
            flex-direction: column;
        }

        .socials {
            margin-left: 0;
            margin-top: 42px;
            margin-bottom: 38px;
        }

        .copyright {
            margin-right: 0;
            max-width: 150px;
            text-align: center;
        }

        .page-link {
          margin: 0 auto;
        }

        .scroll-top {
            position: static;
            margin-top: 43px;
        }
    }
}
