@include large-desktop {
    .main-screen {
        max-height: 800px;
        min-height: 630px;
        height: auto;

        &__video {
            width: 100vw;
        }
    }
    .download {
        &__slider-container {
            margin-right: 40px;
        }
    }
}

@include big-desktop {
    .main-screen {
        min-height: 550px;

        &__video {
            min-height: 550px;
        }
    }
    .section-steps {
        &__container {
            margin-top: 35px;
            margin-bottom: 35px;
    
            .steps {
                grid-template-columns: repeat(2, 1fr);
                max-width: 700px;
                margin: 0 auto;
            }
        }
    }
    .make {
        .wrapper-offset {
            padding-left: max(130px, (100% - 1400px) / 2);
        }

        &__container {
            gap: 25px;
        }
    }

    .slider {
        .item {
            &__info {
                padding-left: 25px;
                padding-right: 35px;
            }
        }
    }
}

@include small-desktop {
    .main-screen {
        min-height: 450px;

        &__video {
            min-height: 450px;
        }
    }
    .section-steps {
        &__container {
            .steps {
                display: flex;
                max-width: 335px;
            }
        }
    }
    .make {
        .wrapper-offset {
            padding-left: max(25px, (100% - 1400px) / 2);
        }
    }
    .cards {
        &__container {
            gap: 25px;
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            margin-right: auto;
            margin-left: auto;
            max-width: 600px;
        }
    }
    .store {
        &__container {
            margin-top: 30px
        }
    
        .custom-tabs {
    
            &__nav {
                gap: 10px;
                margin-bottom: 40px;
            }
        }
    
        .tabs {
            &__content {
                margin-left: 10px;
            }

            &__info-content {
                margin-left: 10px;
            }
        }
    }
    .download {
        &__container {
            flex-direction: column;
        }

        &__slider-container {
            margin-right: 0;
            margin-top: 40px;
        }

        &__content {
            max-width: inherit;
        }
    }
}

@include tablet {
    .large-text {
        padding: 145px 0;

        .section__title {
            font-size: 60px;
        }
    
        .section__text {
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
    .section-steps {
        .section__title {
            font-size: 60px;
        }
    }
    .make {
        .section__title {
            font-size: 60px;
        }
    }
    .workouts {
        .section__title {
            font-size: 60px;
        }
    }
    .store {
        .tabs {
            flex-direction: column;

            &__content {
                margin-left: 0;
            }

            &__nav {
                display: flex;
                align-items: center;
                max-width: inherit;
                max-height: inherit;
                padding-right: 0;
                gap: 45px;
                justify-content: center;
                overflow: visible;
            }

            &__nav-btn {
                border-bottom: 0;
                padding-bottom: 0;
                flex-direction: column;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0;
                align-items: flex-start;

                &::before,
                &::after {
                    content: none;
                }

                .tab__name {
                    margin-left: 0;
                    margin-top: 8px;
                    text-align: left;
                    max-width: 100px;
                }
            }
        }
    }
    .store {
        .section__title {
            font-size: 60px;
        }
    }
    .fq {
        .section__title {
            font-size: 60px;
        }
    }
    .ready {
        .section__title {
            font-size: 60px;
        }

        &__container {
            flex-direction: column;
        }

        &__item:first-child {
            position: static;
            top: inherit;
        }
    
        &__item:last-child {
            position: static;
            bottom: inherit;
        }
    
        &__item--effect {
            margin: 20px 0;
        }
    }
    .sign-up {
        .section__title {
            font-size: 60px;
        }
    }
}

@include middle-tablet {
    .make {
        &__container {
            flex-direction: column;
        }
    }
    .slider {
        &__controls {
            justify-content: flex-start;
            margin-right: 50px;
        }
    }
    .workouts {
        .tabs {
           &__panel {
                max-width: 700px;
                margin: 0 auto;
           }
        }
    }
    .store {
        .tabs {
            flex-direction: column;

            &__content {
                margin-top: 40px;
            }
        }
    }
    .download {
        &__slider-container {
            max-width: 515px;
        }
    }
    .fq {
        &__container {
            flex-direction: column;
        }
    }
}

@include small-tablet {
    .large-text {
        .section__title {
            font-size: 40px;
        }
    }
    .section-steps {
        .section__title {
            font-size: 40px;
        }
    }
    .make {
        .section__title {
            font-size: 40px;
        }
    }
    .gps {
        &__image {
            &::after {
                width: 700px;
                height: 400px;
                left: calc(50% - 350px);
                top: calc(50% - 200px);
            }
        }
    }
    .cards {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .workouts {
        .section__title {
            font-size: 40px;
        }
        .tabs {
            &__top {
                flex-direction: column;
                align-items: flex-start;
            }
            &__nav {
                margin-top: 30px;
            }
        }
    }
    .store {
        .section__title {
            font-size: 40px;
        }
    }
    .fq {
        .section__title {
            font-size: 40px;
        }
        .faq {
            &__question-text {
                font-size: 20px;
                line-height: 125%;
            }
        }
    }
    .ready {
        .section__title {
            font-size: 40px;
        }
    }
    .sign-up {
        .section__title {
            font-size: 40px;
        }
    }
    .footer {
        .socials {
            margin-left: 15px;
        }
    }
}

@include mobile {
    .header {
        &__group {
            .link-download {
                display: none;
            }
        }
    }
    .main-screen {
        background-image: url('../../../images/home/bg-mob.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        min-height: inherit;
        display: flex;

        &__video {
            display: none;
        }

        &__container {
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 70px;
        }

        .btns-group {
            @include flex-v-center;
            flex-direction: column;
        }
    }
    .large-text {
        padding-top: 120px;
        padding-bottom: 223px;

        &::before {
            width: 185px;
            height: 185px;
            bottom: -93px;
            left: -93px;
            filter: blur(243px);
        }

        .stones.stones-mob {
            display: block;
        }

        .section__title {
            line-height: 125%;

            .fire-img {
                width: 33px;
                height: 41px;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        .section__text {
            margin-top: 30px;
            margin-bottom: 30px;
            max-width: 332px;
        }
    }
    .section-steps {
        padding: 70px 0;

        .section__title {
            font-size: 40px;
        }
    }
    .make {
        padding-top: 70px;
        padding-bottom: 65px;

        .section__title {
            max-width: 325px;
        }

        &__left {
            .link-more {
                display: none;
            }
            .slider__controls {
                display: none;
            }
        }

        &__bottom {
            @include flex-all-sb;
            margin-top: 30px;

            .slider__controls {
                margin-right: 25px;
            }
        }
    }
    .slider {
        .item {
            max-width: 335px;
            padding: 4px;

            &__image {
                max-height: 180px;
            }

            &__info {
                padding-left: 22px;
                padding-bottom: 55px;
            }

            &__title {
                margin-top: 35px;
                margin-bottom: 9px;
            }

            &__text {
                -webkit-line-clamp: 5;
            }
        }
    }
    .gps {
        padding-top: 60px;
        padding-bottom: 60px;

        &__image {
            &::after {
                width: 500px;
                height: 300px;
                left: calc(50% - 250px);
                top: calc(50% - 150px);
            }
        }
    }
    .cards {
        padding-top: 60px;
        padding-bottom: 120px;

        &__block {
            max-width: 550px;
        }

        &__block--dark {
            .image {
                max-width: 133px;
            }
        }
    }
    .workouts {
        padding-top: 120px;
        padding-bottom: 60px;
        .tabs {
            &__nav {
                align-self: center;
            }
           &__panel {
                max-width: 335px;
           }
        }
    }
    .skills {
        padding-top: 60px;
        padding-bottom: 60px;

        .section__title {
            .fire-img-shadow {
                .fire-img {
                    object-fit: contain;
                    height: 24px;
                }
            }
        }

        &__items {
            margin-top: 50px;
            gap: 38px;
            display: flex;
            flex-direction: column;

            .item {
                &__top {
                    flex-direction: column;
                    align-items: center;
                }

                &__title {
                    margin-left: 0;
                    margin-top: 20px;
                }

                &__description {
                    text-align: center;
                    margin-top: 12px;
                }
            }
        }
    }
    .store {
        padding-top: 70px;
        padding-bottom: 70px;

        .custom-tabs {
            &__nav {
                overflow: scroll;
                padding-bottom: 10px;
            }
        }

        .tabs {
            &__nav {
                overflow: scroll;
                padding-right: 30px;
                padding-left: 120px;
                padding-bottom: 10px;
            }

            &__info {
                flex-direction: column;
                align-items: flex-start;
            }

            &__panel {
                .swiper {
                    .slider__controls {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        position: absolute;
                        top: 400px;
                        width: 100%;

                        .slider__btns {
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }

            &__image-large {
                cursor: default;
            }

            &__info-content {
                margin-left: 0;
                max-width: 530px;
                cursor: default;
            }
        }
    }
    .download {
        padding-top: 70px;
        padding-bottom: 94px;
        border-bottom: 1px solid rgba(234,235,240, .1);
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: rgba(234, 235, 240, 0.1);
            border-radius: 50%;
            bottom: -3px;
            z-index: -1;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
        
        
        &__slider-container {
            max-width: 415px;

            .slider__controls {
                margin-right: 0;

                .slider__btns {
                    position: relative;
                    top: 10px;
                }

                .slider__btns.swiper-button-prev {
                    left: 0;
                }
    
                .slider__btns.swiper-button-next {
                    right: 0;
                }
            }
        }

        &__content {
            .link-download {
                display: none;
            }
        }

        &__bottom {
            @include flex-all-sb;
            margin-top: 40px;

            .link-download {
                display: flex;
            }
        }
    }
    .fq {
        padding-top: 70px;
        padding-bottom: 110px;
    }
    .ready {
        padding: 70px 0;

        &__item {
            text-align: center;
        }

        &__item--effect {
            &::before,
            &::after {
                width: 235px;
                height: 250px;
            }
    
            &::after {
                transform: translate(-100px, -25px);
            }

            .image.girl {
                max-width: 122px;
            }
            .image.boy {
                max-width: 185px;
            }
        }

        &__container.animated {
            .ready__item--effect {
                &::after {
                    transform: translate(-200px, 55px);
                }

                .image.girl {
                    transform: translateX(45px);
                }
                .image.boy {
                    transform: translateX(-45px);
                }
            }
        }
    }
    .large-bg {
        background-image: none;
    }
    .sign-up {
        .banner {
            top: 100px;
            
            &__image {
                height: 115px;
            }
        }
    }
    .footer {
        padding-bottom: 70px;
        background-image: url('../../images/home/footer-bg-mob.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;

        &__container {
            padding-top: 70px;
            flex-direction: column;
        }

        .socials {
            margin-left: 0;
            margin-top: 42px;
            margin-bottom: 38px;
        }

        .copyright {
            margin-right: 0;
            max-width: 150px;
            text-align: center;
        }

        .scroll-top {
            position: static;
            margin-top: 43px;
        }
    }
}

@media (max-width: 460px) {
    .store {
        .custom-tabs {
            &__nav {
                padding-left: 150px;
                padding-right: 30px;
            }
        }
        .tabs {
            &__nav {
                padding-left: 220px;
            }

            &__panel {
                .swiper {
                    .slider__controls {
                        top: 330px;
                    }
                }
            }
        }
    }
}

@include small-mobile {
    .section-steps {
        .steps-slider {
            &__controls {
                .swiper-pagination {
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
    .slider {
        .item {
            max-width: 240px;
        }
    }
    .gps {
        &__image {
            &::after {
                width: 400px;
                height: 200px;
                left: calc(50% - 200px);
                top: calc(50% - 100px);
            }
        }
    }
    .cards {
        &__block {
            padding-right: 22px;
            padding-left: 22px;
            padding-bottom: 50px;
        }
    
        &__block--orange {
            padding-top: 192px;
    
            .section__title-small {
                max-width: 280px;
                margin-bottom: 30px;
            }
        }
    
        &__block--ocean {
            padding-top: 188px;

        }
    
        &__block--dark {
            padding-top: 192px;


            .section__title-small {
                max-width: 280px;
                margin-bottom: 30px;
            }
        }
    }
    .workouts {
        padding-top: 60px;
        padding-bottom: 60px;
        .tabs {
            &__panel {
                max-width: 325px;
            }

            &__nav {
                gap: 6px;
            }
            &__nav-btn {
                font-weight: 300;
                font-size: 15px;
                line-height: 22px;
                width: 98px;
            }
        }
        &__item {
            max-width: 325px;
            height: 470px;
            align-items: center;

            .icon.arrow {
                bottom: 20px;
                right: 40px;
            }
        }
        &__image {
            .image {
                height: 465px;
            }
        }
    }
    .store {
        .custom-tabs {
            &__nav {
                padding-left: 200px;
                padding-right: 10px;
            }
        }
        .tabs {
            &__nav {
                padding-left: 320px;
            }

            &__panel {
                .swiper {
                    .slider__controls {
                        top: 300px;
                        justify-content: space-between;
                        padding: 0 10px;
                    }
                }
            }

            &__info-content {
                margin-top: 60px;
                padding: 0 10px;
            }

            &__title {
                max-width: 320px;
            }
        }

        .btn-main {
            margin-top: 50px;
        }
    }
    .download {
        .wrapper.wrapper-offset {
            padding-left: max(25px, (100% - 1400px) / 2);
            width: 100%;
        }

        .section__text {
            margin-top: 30px;
        }

        &__content {
            padding-right: 35px;
        }

        &__bottom {
            padding-right: 55px;
        }

        &__slider-container {
            padding-left: 35px;
            margin-top: 0;
        }
    }
}