@include large-desktop {
    .main-screen {
        max-height: 800px;
        min-height: 630px;
        height: auto;

        &__video {
            width: 100vw;
        }
    }
}

@include big-desktop {
    .main-screen {
        min-height: 550px;

        &__video {
            min-height: 550px;
        }
    }
    .section-steps {
        &__container {
            margin-top: 35px;
            margin-bottom: 35px;
    
            .steps {
                grid-template-columns: repeat(2, 1fr);
                max-width: 700px;
                margin: 0 auto;
            }
        }
    }
    .make {
        .wrapper-offset {
            padding-left: max(130px, (100% - 1400px) / 2);
        }

        &__container {
            gap: 25px;
        }
    }

    .slider {
        .item {
            &__info {
                padding-left: 25px;
                padding-right: 35px;
            }
        }
    }
}

@include small-desktop {
    .main-screen {
        min-height: 450px;

        &__video {
            min-height: 450px;
        }
    }
    .section-steps {
        &__container {
            .steps {
                display: flex;
                max-width: 335px;
            }
        }
    }
    .make {
        .wrapper-offset {
            padding-left: max(25px, (100% - 1400px) / 2);
        }
    }
    .cards {
        &__container {
            gap: 25px;
        }
    }
}

@include middle-tablet {
    .make {
        &__container {
            flex-direction: column;
        }
    }
    .slider {
        &__controls {
            justify-content: flex-start;
            margin-right: 50px;
        }
    }
    .workouts {
        .tabs {
           &__panel {
                max-width: 700px;
                margin: 0 auto;
           }
        }
    }
}

@include tablet {
    .large-text {
        padding: 145px 0;

        .section__title {
            font-size: 60px;
        }
    
        .section__text {
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
    .section-steps {
        .section__title {
            font-size: 60px;
        }
    }
    .make {
        .section__title {
            font-size: 60px;
        }
    }
    .workouts {
        .section__title {
            font-size: 60px;
        }
    }
}

@include small-tablet {
    .large-text {
        .section__title {
            font-size: 40px;
        }
    }
    .section-steps {
        .section__title {
            font-size: 40px;
        }
    }
    .make {
        .section__title {
            font-size: 40px;
        }
    }
    .gps {
        &__image {
            &::after {
                width: 700px;
                height: 400px;
                left: calc(50% - 350px);
                top: calc(50% - 200px);
            }
        }
    }
    .cards {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .workouts {
        .section__title {
            font-size: 40px;
        }
        .tabs {
            &__top {
                flex-direction: column;
                align-items: flex-start;
            }
            &__nav {
                margin-top: 30px;
            }
        }
    }
}

@include mobile {
    .header {
        &__group {
            .link-download {
                display: none;
            }
        }
    }
    .main-screen {
        background-image: url('../../../images/home/bg-mob.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        min-height: inherit;
        display: flex;

        &__video {
            display: none;
        }

        &__container {
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 70px;
        }

        .btns-group {
            @include flex-v-center;
            flex-direction: column;
        }
    }
    .large-text {
        padding-top: 120px;
        padding-bottom: 223px;

        &::before {
            width: 185px;
            height: 185px;
            bottom: -93px;
            left: -93px;
            filter: blur(243px);
        }

        .stones.stones-mob {
            display: block;
        }

        .section__title {
            line-height: 125%;

            .fire-img {
                width: 33px;
                height: 41px;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        .section__text {
            margin-top: 30px;
            margin-bottom: 30px;
            max-width: 332px;
        }
    }
    .section-steps {
        padding: 70px 0;

        .section__title {
            font-size: 40px;
        }
    }
    .make {
        padding-top: 70px;
        padding-bottom: 65px;

        .section__title {
            max-width: 325px;
        }

        &__left {
            .link-more {
                display: none;
            }
            .slider__controls {
                display: none;
            }
        }

        &__bottom {
            @include flex-all-sb;
            margin-top: 30px;

            .slider__controls {
                margin-right: 25px;
            }
        }
    }
    .slider {
        .item {
            max-width: 335px;
            padding: 4px;

            &__image {
                max-height: 180px;
            }

            &__info {
                padding-left: 22px;
                padding-bottom: 55px;
            }

            &__title {
                margin-top: 35px;
                margin-bottom: 9px;
            }

            &__text {
                -webkit-line-clamp: 5;
            }
        }
    }
    .gps {
        padding-top: 60px;
        padding-bottom: 60px;

        &__image {
            &::after {
                width: 500px;
                height: 300px;
                left: calc(50% - 250px);
                top: calc(50% - 150px);
            }
        }
    }
    .cards {
        padding-top: 60px;
        padding-bottom: 120px;

        &__block {
            max-width: 550px;
        }

        &__block--dark {
            .image {
                max-width: 133px;
            }
        }
    }
    .workouts {
        padding-top: 120px;
        padding-bottom: 60px;
        .tabs {
            &__nav {
                align-self: center;
            }
           &__panel {
                max-width: 335px;
           }
        }
    }
}

@include small-mobile {
    .section-steps {
        .steps-slider {
            &__controls {
                .swiper-pagination {
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
    .slider {
        .item {
            max-width: 240px;
        }
    }
    .gps {
        &__image {
            &::after {
                width: 400px;
                height: 200px;
                left: calc(50% - 200px);
                top: calc(50% - 100px);
            }
        }
    }
    .cards {
        &__block {
            padding-right: 22px;
            padding-left: 22px;
            padding-bottom: 50px;
        }
    
        &__block--orange {
            padding-top: 192px;
    
            .section__title-small {
                max-width: 280px;
                margin-bottom: 30px;
            }
        }
    
        &__block--ocean {
            padding-top: 188px;

        }
    
        &__block--dark {
            padding-top: 192px;


            .section__title-small {
                max-width: 280px;
                margin-bottom: 30px;
            }
        }
    }
    .workouts {
        padding-top: 60px;
        padding-bottom: 60px;
        .tabs {
            &__panel {
                max-width: 325px;
            }

            &__nav {
                gap: 6px;
            }
            &__nav-btn {
                font-weight: 300;
                font-size: 15px;
                line-height: 22px;
                width: 98px;
            }
        }
        &__item {
            max-width: 325px;
            height: 470px;
        }
        &__image {
            .image {
                height: 470px;
            }
        }
    }
}