@include big-desktop {
    .nftshop {
        .nft {
            &__content {
                margin-right: 150px;
            }
        }
        .categories {
            &__item {
                &-img {
                    width: 275px;
                    height: 275px;
                }
            }
        }
    }
}

@include small-desktop {
    .nftshop {
        .nft {
            &__content {
                margin-right: 50px;
            }
        }
        .how-to-buy {
            &__steps {
                .step {
                    max-width: 200px;
                }
                .step:not(:last-child)::before {
                    width: 140px;
                    right: -140px;
                }
            }
            &__view {
                gap: 30px;
                justify-content: center;
    
                .device {
                    .image {
                        max-width: 200px;
                    }
                    .img-pos {
                        max-width: 196px;
                    }
                    .preloader--sm {
                        top: 20px;
                    }
                }
            }
        }
        .upgrade {
            padding-top: 150px;
            padding-bottom: 120px;

            &__images {
                left: 50px;
                padding-bottom: 20px;
            }
        }
        .categories {
            &__container {
                flex-wrap: wrap;
                max-width: 600px;
                margin: 0 auto;
            }
        }
    }
}

@include tablet {
    .nftshop {
        .nft {
            &__container {
                flex-direction: column;
                gap: 40px;
            }
            &__content {
                margin-right: 0;
            }
        }
        .section {
            &__title,
            &__subtitle {
                text-align: center;
            }
            &__title {
                margin-bottom: 20px;
            }
        }
        .coin {
            &__container {
                .coin__device {
                    .img-arrow {
                        transform: translateX(-250px) rotateX(180deg) rotate(50deg);
                        top: 150px;
                        bottom: inherit;
                    }
                }
            }
            &__container.animated {
                .coin__device {
                    .img-arrow {
                        transform: translateX(-50px) rotateX(180deg) rotate(50deg);
                    }
                }
            }
        }
    }
}

@include middle-tablet {
    .nftshop {
        .coin {
            &__title {
                margin-bottom: 20px;
            }
            &__text {
                margin-bottom: 20px;
            }
            &__container {
                flex-direction: column-reverse;
                gap: 30px;
                
                .coin__device {
                    .img-device {
                        display: block;
                    }
                }
                .coin__coins {
                    .image {
                        opacity: 1;
                        transform: scale(1);
                    }
                    .img-md {
                        left: 10px;
                        top: 76px;
                    }
                    .img-lg {
                        left: 0;
                        top: 220px;
                    }
                    .img-tr {
                        left: 105px;
                        top: 135px;
                    }
                }
            }
            &__container.animated {
                .coin__device {
                    .img-arrow {
                        transform: translateX(380px) rotate(-68deg);
                        top: 30px;
                    }
                }
            }
        }
        .how-to-buy {
            &__steps {
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;

                .step:not(:last-child)::before {
                    content: none;
                }
            }
            &__view {
                gap: 10px;
                position: static;
                margin-top: 30px;

                .device {
                    .image {
                        height: 300px;
                    }
                    .img-pos {
                        height: 280px;
                        transition: all ease-in-out 1s;
                        min-width: 128px;
                        height: 0;
                    }
                    .preloader--sm {
                        display: none;
                    }
                }
            }
            &__container.animated {
                .how-to-buy__view {
                    .device {
                        .img-pos {
                            height: 92%;
                        }
                    }
                }
            }
        }
        .upgrade {
            padding-top: 120px;

            &__text {
                margin-top: 20px;
                margin-bottom: 40px;
            }

            &__images {
                left: 35px;
                padding-bottom: 0;
            }
        }
    }
}

@include small-tablet {
    .nftshop {
        .nft {
            &__images {
                width: 100%;
            }
        }
        .coin {
            padding-top: 70px;
        }
        .how-to-buy {
            padding-top: 70px;
        }
        .upgrade {
            padding-top: 70px;
            padding-bottom: 70px;

            &__text {
                margin-top: 20px;
                margin-bottom: 30px;
            }
        }
        .categories {
            padding-bottom: 70px;

            &__title br {
                display: none;
            }

            &__item {
                &-img {
                    width: 250px;
                    height: 250px;

                    .image {
                        max-width: 180px;
                    }
                }
            }
        }
    }
}

@include mobile {
    .nftshop {
        .nft {
            &__images.animated {
                .images.images-pos {
                    transform: translate(100px, 55px);
                }

                &:hover {
                    .images.images-pos {
                        z-index: 11;
                    }
                }
            }
            .btn-groups {
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }
        .section {
            &__subtitle {
                font-size: 16px;
            }
        }
        .coin {
            &__title {
                margin-bottom: 10px;
            }
            &__container {
                gap: 10px;
                
                .coin__device {
                    .img-device {
                        max-width: 300px;
                    }
                    .img-label {
                        top: 65px;
                        left: 80px;
                        transform: scale(.5);
                    }
                    .img-arrow {
                        transform: translateX(110px) rotate(-68deg);
                        top: 50px;
                    }
                }
                .coin__coins {
                    height: 340px;
                    max-width: 280px;

                    .img-sm {
                        max-width: 40px;
                    }
                    .img-md {
                        max-width: 70px;
                        left: 20px;
                        top: 56px;
                    }
                    .img-lg,
                    .img-tr {
                        max-width: 170px;
                    }
                    .img-lg {
                        top: 150px;
                    }
                    .img-tr {
                        top: 100px;
                        left: 85px;
                    }
                }
            }
            &__container.animated {
                .coin__device {
                    .img-label {
                        top: 120px;
                        left: 130px;
                        transform: scale(.7);
                    }
                    .img-arrow {
                        transform: translateX(210px) rotate(-68deg);
                        top: 0;
                    }
                }
                .coin__coins {
                    .img-md {
                        left: 20px;
                        top: 56px;
                    }
                    .img-lg {
                        top: 150px;
                    }
                    .img-tr {
                        top: 100px;
                        left: 85px;
                    }
                }
            }
        }
        .how-to-buy {
            &__title {
                font-size: 24px;
            }
            &__steps {
                flex-direction: column;
                gap: 30px;

                .step:not(:last-child)::before {
                    content: "";
                    width: 40px;
                    transform: rotate(90deg);
                    right: calc(50% - 20px);
                    top: inherit;
                    bottom: -20px;
                }
            }
            &__view {
                gap: 10px;
                max-width: 300px;
                margin-right: auto;
                margin-left: auto;
                flex-wrap: wrap;

                .device {
                    .image {
                        height: 250px;
                    }
                    .img-pos {
                        min-width: 106px;
                        height: 0;
                    }
                }
            }
        }
        .upgrade {
            &__title {
                font-size: 24px;
            }
            &__text {
                margin-top: 10px;
                margin-bottom: 20px;
            }
            &__images {
                left: 15px;
            }
        }
        .categories {
            &__title {
                font-size: 24px;
            }

            &__container {
                max-width: 500px;
                justify-content: center;

                .categories__item {
                    &-img {
                        .image {
                            transform: scale(1);
                        }
                    }
                }
            }

            &__item {
                &-img {
                    width: 200px;
                    height: 200px;

                    .image {
                        max-width: 150px;
                    }
                }
                &-name {
                    margin-top: 10px;
                }
            }
        }
    }
}

@include small-mobile {
    .nftshop {
        .nft {
            &__images.animated {
                .images.images-pos {
                    transform: translate(55px, 55px);
                }
            }
        }
        .coin {
            &__title {
                font-size: 24px;
            }
            &__container.animated {
                .coin__device {
                    .img-label {
                        top: 100px;
                        left: 110px;
                        transform: scale(.6);
                    }
                    .img-arrow {
                        transform: translateX(180px) rotate(-68deg);
                    }
                }
            }
        }
    }
}