@include small-desktop {
    .roadmap {
        .anchors {
            gap: 10px;

            &__link {
                padding-top: 20px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 30px;
    
                .icon-circle {
                    width: 85px;
                    height: 85px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@include tablet {
    .roadmap {
        .section__title {
            font-size: 60px;
        }

        .anchors {
            &__link {
                .icon.arrow {
                    right: 10px;
                    bottom: 10px;
                }
            }
        }
    }
    .anchor {
        .section__title {
            font-size: 60px;
        }
    }
    .demo {
        .section__title {
            margin-bottom: 30px;
        }
        &__container {
            flex-direction: column-reverse;
            gap: 30px;
        }
    }
    .types {
        .section__title {
            margin-bottom: 30px;
        }
    }
    .demo.types.types-4 {
        .demo__container {
            flex-direction: column;
        }
    }
}

@include middle-tablet {
    .roadmap {
        .anchors {
            padding-bottom: 10px;
            overflow: hidden;
            overflow-x: auto;
            max-width: 900px;

            &__link {
                min-width: 150px;
            }
        }
    }
    .types {
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
    
            .item {
                margin: 0 auto;
            }

            .item:nth-child(2) {
                transform: translateX(-478px);
            }
    
            .item:nth-child(3) {
                transform: translateY(-414px);
            }
    
            .item:last-child {
                transform: translate(-478px, -414px);
            }
        }

        &__container.animated {
            .item:nth-child(3) {
                transform: translateY(0px);
            }
    
            .item:last-child {
                transform: translate(0px);
            }
        }
    }
    .shop {
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
    
            .item {
                margin: 0 auto;
            }
        }
    }
}

@include small-tablet {
    .roadmap {
        .section__title {
            font-size: 40px;
        }
    }
    .anchor {
        .section__title {
            font-size: 40px;
        }
    }
    .section.anchor {
        padding: 70px 0;
    }
    .demo {
        &__images {
            padding-right: 0;

            .main-image-mob {
                display: block;
            }
            .main-image,
            .small-image,
            .demo__images-box {
                display: none;
            }

            &::after {
                content: none;
            }
        }
    }
}

@include mobile {
    .roadmap {
        .section__title {
            font-size: 30px;

            .subtitle {
                font-size: 16px;
                margin-bottom: 12px;
            }
        }
    }
    .anchor {
        .section__title {
            font-size: 30px;

            .subtitle {
                font-size: 16px;
                margin-bottom: 12px;
            }
        }
        .btn-groups {
            gap: 20px;
        }
    }
    .demo {
        &__list {
            margin-bottom: 50px;
        }
    }
    .types {
        &__container {
            display: flex;
            padding-bottom: 10px;
            overflow: hidden;
            overflow-x: auto;
    
            .item {
                min-width: 200px;
                transform: scale(0);
            }

            .item:nth-child(2),
            .item:nth-child(3),
            .item:last-child {
                transform: scale(0);
            }
        }

        &__container.animated {
            .item:first-child,
            .item:nth-child(2),
            .item:nth-child(3),
            .item:last-child {
                transform: scale(1);
            }
        }
    }
    .shop {
        &__container {
            display: flex;
            padding-bottom: 10px;
            overflow: hidden;
            overflow-x: auto;

            .item {
                min-width: 250px;
            }
        }
    }
    .types-2.shop {
        .types__container {
            .item:nth-child(2),
            .item:last-child {
                transform: scale(0);
            }
        }
        .types__container.animated {
            .item:first-child,
            .item:nth-child(2),
            .item:last-child {
                transform: scale(1);
            }
        }
    }
}

@include small-mobile {
    .anchor {
        .btn-groups {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .demo {
        &__list {
            margin-bottom: 30px;
        }
    }
}