// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Poppins", sans-serif;
  --content-width: 1400px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --cs-white: #fff;
  --cs-body-bg: #161925;
  --cs-main-gradient: linear-gradient(264.58deg, #FFED52 -39.96%, #FFB23F -0.3%, #FF5D39 89.21%);
  --cs-main: #FF5D39;
  --cs-text: #EAEBF0;
  --cs-grey: #696B77;
}