// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Poppins", sans-serif;
  --content-width: 1400px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --cs-white: #fff;
  --cs-body-bg: #161925;
  // --cs-gold-bg: linear-gradient(135deg, #EE9B4F 25%, rgba(238, 155, 79, 0) 94.01%);
  // --cs-silver-bg: linear-gradient(135deg, #E9E9E9 25%, rgba(233, 233, 233, 0) 94.01%);
  --cs-main: #FF5D39;
  --cs-text: #EAEBF0;
  --cs-grey: #696B77;
}